@{
    ViewData["Title"] = "Индивидуални фотосесии и семейни фотосесии | Индивидуални фотосесии в Пловдив | Семейни фотосесии в Пловдив";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Индивидуални и семейни фотосесии</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Индивидуални и семейни фотосесии</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Individual Photography Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title">Индивидуални и семейни <span class="text-dark">фотосесии</span></h2>
                <!--<h1 class="display-5 mb-4">Целта ни е </h1>-->
                <div class="row mt-5 g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-person-burst text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Индивидуални фотосесии</h3>
                                <p class="mb-3">Нашата цел е да запазим вашите моменти, като ги „нарисуваме“ с фотоапарат. Подарете време за себе си и преживяване, което улавя най-доброто от вас — момент, превърнат в изкуство.</p>
                                <p class="mb-3">Предлагаме ви професионални фотосесии в Пловдив и цяла България, заснети с внимание към детайлите и подход, съобразен с вашия стил и характер — за да се чувствате комфортно, уверено и естествено пред камерата.</p>
                                <p class="mb-0">Заедно изграждаме визията, избора на локация и атмосферата, така че крайният резултат да бъде не просто серия от снимки, а отражение на вашето настроение, емоции и присъствие.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-people-roof text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Семейни фотосесии</h3>
                                <p class="mb-3">Сигурни сме, че сте влизали в поне една къща, която е отрупана със красиви и пълни с живот семейни снимки. А ако в това описание разпознавате вашия собствен дом - поздравления, подарили сте си най-скъпата декорация, която може да поставите вкъщи! Създава се едно прекрасно усещане за домашен уют и топлина, нали? Тези снимки не са просто украса — те са спомени, които носят усмивки всеки път, когато ги погледнете.</p>
                                <p class="mb-0">От ФОТОНИК ви предоставяме професионално заснети семейни фотосесии в Пловдив, както и в цялата страна. Всяко едно семейство е различно, затова винаги подхождаме индивидуално, като се съобразяваме с вашия стил и предпочитания.</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-regular fa-face-grin-beam text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Предлагаме удобен уебсайт</h3>
                                <p class="mb-0">Фотоник се роди с идеята да улесни максимално клиентите си. Всички знаем колко е неприятно да чакате с нетърпение „флашката“ със снимките, а тя да се окаже повредена. За да избегнем подобни ситуации, създадохме онлайн пространство, където споделяме снимките ви бързо, сигурно и без нужда от физически носители. Освен това, при нас може да резервирате фотосесия изцяло онлайн, лесно и удобно, независимо къде се намирате.</p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/semeyna-fotosesiya-plovdiv.jpg" alt="about3" style="max-height:650px">
                    <img class="img-fluid" src="~/img/individualni-fotosesii-esen-1.jpg" alt="about3" style="max-height:650px">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-individual-prices mt-5 pt-5">
    <div class="packet">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title"><span class="text-dark">Пакети</span> Индивидуална фотосесия</h1>
                <hr />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Стандартен</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.PortrairPhotoShoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.IndividualPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Плюс</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.PortrairPlusPhotoShoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.IndividualPlusPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.PersonalPlus" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Екстра</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.PortrairExtraPhotoShoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.IndividualExtraPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.PersonalExtra" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Друго</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                        <hr />
                        <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="packet mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title"><span class="text-dark">Пакети</span> Семейна фотосесия</h1>
                <hr />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Стандартен</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.FamilyPhotoShoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.IndividualPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Family" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Плюс</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.FamilyPlusPhotoShoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.IndividualPlusPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.FamilyPlus" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Екстра</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.FamilyExtraPhotoShoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.IndividualExtraPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.FamilyExtra" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Друго</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                        <hr />
                        <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-wedding-portfolio mt-5 pt-5">
    <div class="portfolio-item row">
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Individual/individualni-fotosesii-plovdiv-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Individual/individualni-fotosesii-plovdiv-1.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Individual/individualni-fotosesii-plovdiv-2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Individual/individualni-fotosesii-plovdiv-2.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Individual/individualni-fotosesii-plovdiv-3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Individual/individualni-fotosesii-plovdiv-3.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Individual/semeyna-fotosesiya-plovdiv-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Individual/semeyna-fotosesiya-plovdiv-1.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Individual/semeyna-fotosesiya-plovdiv-2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Individual/semeyna-fotosesiya-plovdiv-2.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Individual/semeyna-fotosesiya-plovdiv-3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Individual/semeyna-fotosesiya-plovdiv-3.jpg" alt="gallery-item">
            </a>
        </div>
    </div>
</div>
<!-- Feature Individual Photography End -->

<style>
    .card-packet {
        min-height: 400px;
    }
</style>