@model PhotoByIdDTO

@{
    ViewData["Title"] = Model?.Photo?.Name;
}

<div class="container">
    <div class="row">
        @if (User.IsInRole("Administrator"))
        {
            <div class="col-12 col-md-6 col-lg-2">
                <form asp-controller="Photo" asp-action="ChangeDownloadPermissions" method="POST">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Photo.Id" />
                    <button type="submit" class="btn btn-warning text-white">@(Model.Photo.IsDownloadable ? "Non-downloadble" : "Downloadable")</button>
                </form>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <form asp-controller="Photo" asp-action="Delete" method="POST">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Photo.Id" />
                    <input type="hidden" asp-for="Photo.Name" />
                    <button type="submit" class="btn btn-danger text-white">Delete</button>
                </form>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12 col-image text-center mx-auto">
            <img src="~/resources/gallery-photos/@(PhotoSize.Small.ToString() + "_" + Model?.Photo?.FileName)" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>@Model?.Photo?.Name</h1>
            <p class="photo-description">@Model?.Photo?.Description</p>
        </div>
        <div class="col-12 col-md-2 col-select">
            <select asp-for="PhotoSize" asp-items="Html.GetEnumSelectList<PhotoSize>()" class="form-control py-2"></select>
        </div>
        <div class="col-12 col-md-1 col-details">
            <form asp-controller="Order" asp-action="OrderInfo" method="GET" enctype="multipart/form-data">
                <input type="hidden" asp-for="Photo.Id" />
                <input type="hidden" asp-for="Photo.FileData" />
                <input type="hidden" asp-for="Photo.FileName" />
                <input type="hidden" asp-for="Photo.FileType" />
                <input type="hidden" asp-for="Photo.Name" />
                <input type="hidden" asp-for="Photo.IsFree" />
                <input type="hidden" asp-for="PhotoSize" />
                
                @if (Model.Photo.IsFree)
                {
                    <button class="btn btn-primary btn-lg btn-download" type="submit"><i class="fa-solid fa-download"></i></button>
                }

                else
                {
                    <input type="hidden" asp-for="Photo.Price" />
                    <button class="btn btn-warning btn-lg btn-download" type="submit"><i class="fa-solid fa-download"></i></button>
                }
               
            </form>
        </div>
        <div class="col-12 col-md-2 col-price">
            @if (Model.Photo.IsDownloadable && !Model.Photo.IsFree)
            {
                <h2 id="price-text-wrapper"></h2>
            }
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3 photo-details-container">
            <div class="icon mx-auto text-center">
                <span><i class="fa-solid fa-location-dot fa-2x"></i></span>
            </div>
            <div class="photo-details-item text-center mx-auto mt-3">
                <span class="details-text" id="location">@Model.Photo.GeoLocation</span>
            </div>
        </div>
        <div class="col-3 photo-details-container">
            <div class="icon mx-auto text-center">
                <span><i class="fa-solid fa-camera-retro fa-2x"></i></span>
            </div>
            <div class="photo-details-item text-center mx-auto mt-3">
                <span class="details-text" id="gear">@Model?.Photo?.Gear?.CameraBrand @Model?.Photo?.Gear?.CameraModel, @Model?.Photo?.Gear?.CameraLens, @Model?.Photo?.Gear?.AdditionalInformation</span>
            </div>
        </div>
        <div class="col-3 photo-details-container">
            <div class="icon mx-auto text-center">
                <span><i class="fa-solid fa-hashtag fa-2x"></i></span>
            </div>
            <div class="photo-details-item text-center mx-auto mt-3">
                
                @foreach (Tag tag in Model.Photo.Tags)
                {
                    <span class="details-text tags-text" id="tags"><a asp-controller="Photo" asp-action="AllByTag" asp-route-tag="@tag.Text" class="text-primary"><b>#@tag.Text</b></a></span>
                }
            </div>
        </div>
        <div class="col-3 photo-details-container">
            <div class="icon mx-auto text-center">
                <span><i class="fa-solid fa-layer-group fa-2x"></i></span>
            </div>
            <div class="photo-details-item text-center mx-auto mt-3">
                
                @foreach (PhotoCategory photoCategory in Model.Photo.PhotoCategories)
                {
                    <span class="details-text featured-in-text" id="featured-in">
                        <a asp-controller="Photo" asp-action="Portfolio" asp-route-category="@photoCategory.Category" class="text-primary"><b>@(photoCategory.Category.GetAttribute<DisplayAttribute>().Name)</b></a>
                    </span>
                }
            </div>
        </div>
    </div>
</div>

<style>
    

    .container .row .col-image img{
        width: 100%;
    }
    
    .container .row, .col-select{
        margin-top: 52px;
    }   

    .container .row .col-price{
        margin-top: 50px;
    } 


    .container .row .col-select select{
        border-radius: 0 !important;
    }

    .container .row .col-details{
        padding-top: 30px;
    }

    .container .row .col-details button {
        border-radius: 0;
    }

    .container .row .col-details h1{
        text-align: center;
    }

    .container .row .col-details .btn-download{
        width: 100%;
        margin-top: 20px;
        color: #fff;
    }

    .tags-text, .featured-in-text {
        line-height: 10px;
    }
</style>

<script>

    $(document).ready(function(){

        //calculate price on page load
        calculatePrice();

        //calculate price when different size is selected
        $("#PhotoSize").change(function(){
            calculatePrice();
        });
    });

    function calculatePrice(){
        let priceValue = @(Model?.Photo?.Price?.ToString(CultureInfo.InvariantCulture));
        let priceCalculated = $("#price-text-wrapper");
        let price = $("#Photo_Price");
        let size = $("#PhotoSize").find(":selected");
        switch (size.val()) {
            case "@((int)PhotoSize.Small)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.8)).toFixed(2));
                priceCalculated.html(price.val() + "лв");
                break;
            }
            case "@((int)PhotoSize.Medium)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.5)).toFixed(2));
                priceCalculated.html(price.val() + "лв");
                break;
            }
            case "@((int)PhotoSize.Large)": {
                price.val((parseInt(priceValue) - (parseInt(priceValue) * 0.2)).toFixed(2));
                priceCalculated.html(price.val() + "лв");
                break;
            }
            default: {
                price.val(parseInt(priceValue).toFixed(2));
                priceCalculated.html(price.val() + "лв");
                break;
            }
        }
    }

</script>