@model IEnumerable<DynamicContent>

@{
    ViewData["Title"] = "Home page";
}

<!-- Masthead-->
<header class="masthead">
    <div class="dimmer">
        <div class="container wrapper">
            <div class="masthead-heading-wrapper">
                <div class="masthead-heading text-uppercase"><img src="~/DreamPixW.png" class="logo-homepage"/></div>
                <div class="masthead-subheading">Нашето вдъхновение са <span id="your-colored">вашите</span> спомени</div>
            </div>
            <a asp-controller="Photoshoot" asp-action="Reserve" class="btn btn-primary btn-xl text-uppercase mt-5 btn-book">Резервирай</a>
        </div>
    </div>
</header>
<div class="container icons-container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 icons-column">
            <span class="icon"><i class="fa-solid fa-camera fa-2xl"></i></span>
            <h4 class="icon-title">Услуги</h4>
            <p class="icon-text">Потърсете ни за всичко, което искате да се превърне в спомен</p>
            <a asp-controller="StaticContent" asp-action="Services" class="btn btn-outline-primary icon-cta-btn">Повече</a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 icons-column">
            <span class="icon"><i class="fa-solid fa-coins fa-2xl"></i></span>
            <h4 class="icon-title">Цени</h4>
            <p class="icon-text">Разгледайте ценовата гама на предлаганите от нас услуги</p>
            <a asp-controller="StaticContent" asp-action="Pricing" class="btn btn-outline-primary icon-cta-btn">Повече</a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 icons-column">
            <span class="icon"><i class="fa-solid fa-images fa-2xl"></i></span>
            <h4 class="icon-title">Галерия</h4>
            <p class="icon-text">Вдъхновете се от вече направените от нас фотографии</p>
            <a asp-controller="Photo" asp-action="All" class="btn btn-outline-primary icon-cta-btn">Повече</a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 icons-column">
            <span class="icon"><i class="fa-solid fa-bolt-lightning fa-2xl"></i></span>
            <h4 class="icon-title">За нас</h4>
            <p class="icon-text">Научете повече за нашата дейност и история</p>
            <a asp-controller="StaticContent" asp-action="About" class="btn btn-outline-primary icon-cta-btn">Повече</a>
        </div>
    </div>
    <div class="row row-portfolio">
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-wedding">
            <div class="portfolio-content-wrap">
                <h1>Сватба</h1>
                <p>Вашата сватба през нашия обектив</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Wedding" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Wedding" class="btn btn-primary">Резервирайте</a>
        </div>
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-portrait">
            <div class="portfolio-content-wrap">
                <h1>Портрет</h1>
                <p>Превърнете се в модел</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">Резервирайте</a>
        </div>
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-baptism">
            <div class="portfolio-content-wrap">
                <h1>Свето кръщение</h1>
                <p>Ще уловим красивите и емоционални моменти от церемонията по Светото кръщение.</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Baptism" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Baptism" class="btn btn-primary">Резервирайте</a>
        </div>
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-prom">
            <div class="portfolio-content-wrap">
                <h1>Абитуриентски бал</h1>
                <p>Ще създадем красиви и стилни снимки, които ще Ви напомнят за този вълнуващ момент.</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Prom" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Prom" class="btn btn-primary">Резервирайте</a>
        </div>
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-automobile">
            <div class="portfolio-content-wrap">
                <h1>Автомобил</h1>
                <p>Нека автомобилът Ви бъде звездата!</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Automotive" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Automotive" class="btn btn-primary">Резервирайте</a>
        </div>
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-product">
            <div class="portfolio-content-wrap">
                <h1>Продукт</h1>
                <p>Ще представим продуктовия Ви каталог в най-добра светлина.</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Product" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Product" class="btn btn-primary">Резервирайте</a>
        </div>
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-pregnancy">
            <div class="portfolio-content-wrap">
                <h1>Бременност</h1>
                <p>Красотата на бремеността Ви завинаги с Вас</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Pregnant" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Pregnant" class="btn btn-primary">Резервирайте</a>
        </div>
        <div class="col-12 col-md-6 border border-white border-5 text-center col-portfolio col-kids">
            <div class="portfolio-content-wrap">
                <h1>Детска фотосесия</h1>
                <p>Нека заснемем усмивките на децата Ви!</p>
            </div>
            <a asp-controller="Photo" asp-action="AllByPhotoshootType" asp-route-photoshootType="@PhotoShootType.Kids" class="btn btn-light">Разгледайте</a>
            <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Kids" class="btn btn-primary">Резервирайте</a>
        </div>
    </div>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Актуално</h2>
                <h3 class="section-subheading text-muted">Разгледайте активните и предложения и промоции</h3>
            </div>
            <div class="row">
                @foreach(DynamicContent dynamicContent in Model)
                {
                    <div class="col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a asp-action="Content" asp-controller="DynamicContent" asp-route-id="@dynamicContent.Id" class="portfolio-link">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="~/resources/images/@(dynamicContent.ImageName)" alt="current1" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">@dynamicContent.Title</div>
                                <div class="portfolio-caption-subheading text-muted">@dynamicContent.Description</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <a asp-action="All" asp-controller="DynamicContent" class="btn btn-primary btn-lg">Виж всички</a>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
    .banner {
        margin-top: 100px;
    }

    .banner h1 {
        font-size: 6rem;
    }

    .banner .btn:hover {
        cursor: pointer;
    }

    /*Override from styles.css*/
    header.masthead {
        background-image: url(@(Url.Content($"~/resources/{ViewBag.HomePhoto}")));
    }

    header.masthead .dimmer{
        margin-top: -30px;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        padding: 0 0;
        animation-name: animateBoxShadowMasthead;
        animation-duration: 2s;
        box-shadow: 0px 0px 46px 5px rgba(0, 0, 0, 0.6);
        padding: 50px 0;
    }

    .masthead-heading-wrapper{
        transform: scale(.5);
        animation-name: animateMastheadTexts;
        animation-duration: 2s;
        transform: scale(1);
    }

    #your-colored{
        color: #ffc800;
        font-weight: bold;
    }

    .btn-book{
        animation-name: animateBookButton;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }

    .btn-book:hover {
        animation-name: unset;
    }

    .icons-container {
        padding: 150px 0;
    }

    .icons-container .icons-column {
        margin: 0 auto;
        padding-bottom: 80px;
        text-align: center;
        border-right: 1px solid #dbdbdb;
        transition: .4s;
    }

    .icons-container .icons-column:last-child {
        border-right: unset;
    }

    .icons-container .icons-column .icon-title {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .icons-container .icons-column .icon-text{
        min-height: 90px;
    }

    .row-portfolio{
        margin-top: 80px;
    }

    .row-portfolio .col-portfolio{
        background-size: cover;
    }

    .row-portfolio .col-portfolio h1 {
        margin-top: 80px;
        padding: 0 60px;
        color: #fff;
    }

    .row-portfolio .col-portfolio p {
        margin-top: 20px;
        padding: 0 60px;
        color: #fff;
    }

    .row-portfolio .col-portfolio a {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .row-portfolio .col-portfolio .portfolio-content-wrap{
        background: rgba(0, 0, 0, 0.1);
    }

    .row-portfolio .col-wedding{
        background-image: url(@Url.Content("~/resources/images/wedding.jpg"));
     }

    .row-portfolio .col-portrait{
        background-image: url(@Url.Content("~/resources/images/portrait.jpg"));
    }

    .row-portfolio .col-baptism{
        background-image: url(@Url.Content("~/resources/images/baptism.jpg"));
    }

    .row-portfolio .col-prom{
        background-image: url(@Url.Content("~/resources/images/prom.jpg"));
    }

    .row-portfolio .col-automobile{
            background-image: url(@Url.Content("~/resources/images/automobile.jpg"));
    }

    .row-portfolio .col-product{
            background-image: url(@Url.Content("~/resources/images/product.jpg"));
    }

    .row-portfolio .col-kids {
        background-image: url(@Url.Content("~/resources/images/kids.jpg"));
    }

    .row-portfolio .col-pregnancy {
        background-image: url(@Url.Content("~/resources/images/pregnancy.jpg"));
    }

    @@media only screen and (max-width: 768px){
        .icons-container .icons-column .icon-text {
            min-height: 40px;
        }

        .logo-homepage {
            width: 350px;
        }

        header.masthead{
            padding-top: 100px;
            
        }

        header.masthead .dimmer {
            
        }
    }
    @@keyframes animateBoxShadowMasthead {
      from {
            box-shadow: 0px 0px 46px 5px rgba(0, 0, 0, 0.6);
            padding: 0 0;
      }
      to {
            box-shadow: 0px 0px 46px 5px rgba(0, 0, 0, 0.6);
            padding: 50px 0;
      }
    }
    @@keyframes animateMastheadTexts {
        from {
            transform: scale(.5);
        }

        to {
            transform: scale(1);
        }
    }

    @@keyframes animateBookButton{
        0% {
            transform: unset;
            box-shadow: 0px 0px 22px #ffc800;
        }

        50% {
            transform: scale(0.9);
            box-shadow: 0px 0px 8px #ffc800;
        }

        100%{
            box-shadow: 0px 0px 22px #ffc800;
        }
    }
</style>