@model HomePageDTO

@{
    ViewData["Title"] = "Фотографска агенция";
}

<!--================Banner Area =================-->
@*<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Фотографска агенция</h6>
                <img src="~/photonicBIG.png" class="logo-homepage" />
                <p>Нашето вдъхновение са вашите спомени</p>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("QuickBooking")
</section>
<!--================Banner Area =================-->
<section class="container mt-5 pt-5">
    <div class="section_title text-center">
        <h2 class="title_color">Фотосесии</h2>
        <p>Резервирайте лесно, удобно и напълно безплатно вашата следваща фотосесия</p>
    </div>
    <partial name="_GalleryCategories" model="true"></partial>
</section>
<!-- Portfolio Grid-->
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Разгледайте</h2>
            <p>Услуги, цени, творчесто, мисия</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/resources/images/services-photoshoot.jpg" alt="services-photoshoot">
                        <a asp-controller="StaticContent" asp-action="Services" class="btn theme_btn button_hover">Услуги</a>
                    </div>
                    <p class="services-subheading">Потърсете ни за всичко, което искате да се превърне в спомен</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/resources/images/prices-calculator.jpg" alt="">
                        <a asp-controller="StaticContent" asp-action="Pricing" class="btn theme_btn button_hover">Цени</a>
                    </div>
                    <p class="services-subheading">Разгледайте ценовата гама на предлаганите от нас услуги</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/resources/images/gallery-album.jpg" alt="">
                        <a asp-controller="Photo" asp-action="Index" class="btn theme_btn button_hover">Галерия</a>
                    </div>
                    <p class="services-subheading">Вдъхновете се от нашите вече направени фотографии</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/resources/images/about-us-clones.jpg" alt="">
                        <a asp-controller="StaticContent" asp-action="About" class="btn theme_btn button_hover">За нас</a>
                    </div>
                    <p class="services-subheading">Научете повече за нашата дейност и история</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--================ Accomodation Area  =================-->
<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">За нас <br>Нашата история<br>Какво целим</h2>
                    <p>Фотоник се роди с идеята да улесни максимално клиентите си. Всички знаем колко е неприятно да очаквате с нетърпение „флашката“, на която фотографът е записал снимките от фотосесията Ви, а тя да се окаже повредена. Никой не е виновен за това - просто се случва. И именно защото знаем, че се случва, създадохме сайта на нашата агенция, където споделяме снимките Ви без размяна на физически копия.</p>
                    <a asp-action="About" asp-controller="StaticContent" class="button_hover theme_btn_two">Научете повече</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="image/about_bg.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<!--================ About History Area  =================-->
<!--================ Latest Blog Area  =================-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Актуално</h2>
            <p>Последните публиакции от нашия блог</p>
        </div>
        <div class="row mb_30">
            @foreach (DynamicContent dynamicContent in Model?.DynamicContents ?? new List<DynamicContent>())
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img class="img-fluid" src="~/resources/images/@(dynamicContent.ImageName)" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a asp-action="AllByCategory" asp-controller="DynamicContent" asp-route-id="@dynamicContent?.DynamicContentCategories?.Id" class="button_hover tag_btn">@dynamicContent?.DynamicContentCategories?.Name</a>
                            </div>
                            <a asp-action="Content" asp-controller="DynamicContent" asp-route-id="@dynamicContent?.Id"><h4 class="sec_h4">@dynamicContent?.Title</h4></a>
                            <p>@dynamicContent?.Description</p>
                            <h6 class="date title_color">@dynamicContent?.CreatedOn.ToString("dd.MM.yyyy") г.</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <a asp-action="AllByPage" asp-controller="DynamicContent" class="btn theme_btn button_hover">Виж всички</a>
            </div>
        </div>
    </div>
</section>
<!--================ Recent Area  =================-->
<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Какво говорят клиентите ни</h2>
            <p>Прочетете какво мислят клиентите ни за нашата дейност</p>
        </div>
        <div class="testimonial_slider owl-carousel">
            @foreach(Testimony testimony in Model?.Testimonies ?? new List<Testimony>())
            {
                <div class="media testimonial_item">
                    <img class="rounded-circle" src="image/user-testimony.png" alt="user-testimony" style="width: 80px">
                    <div class="media-body">
                        <h4 class="sec_h4">@testimony.PersonFirstName @testimony.PersonLastName</h4>
                        <div class="star">
                            @for(int i = 0; i < testimony.Stars; i++)
                            {
                                <i class="fa fa-star text-warning"></i>
                            }
                            @for(int i = testimony.Stars + 1; i <= 5; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        </div>
                        <p class="mt-3">@testimony.Content</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container testimony-container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="tesimonail-container-title">Ще се радваме да чуем и Вашето мнение</h1>
            </div>
        </div>
        <partial name="_CreateTestimony" model="new Testimony()"></partial>
    </div>
</section>
<!--================ Testimonial Area  =================-->
*@















<!-- Header Start -->
<div class="container-fluid hero-header bg-light pb-5 mb-5" style="margin-top: -80px !important">
    <div class="container pb-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <p class="text-primary text-uppercase mb-2 animated slideInDown">Фотографска агенция <b>PHOTONIC</b></p>
                <h1 class="display-4 mb-3 animated slideInDown">Нашето вдъхновение са вашите спомени</h1>
                <p class="animated slideInDown">Миговете отминават, но спомените остават. Твоята радост, любов и смях също. Ние запечатваме историите ти такива, каквито са. Вдъхновени от теб, улавяме душата, запазвайки времето във всеки кадър.</p>
                <div class="d-flex align-items-center pt-4 animated slideInDown">
                    <a href="" class="btn btn-primary py-3 px-4 me-5">Портфолио</a>
                    <a asp-controller="PhotoShoot" asp-action="Reserve" class="btn-play">
                        <span></span>
                    </a>
                    <h5 class="ms-4 mb-0 d-none d-sm-block">Резервация</h5>
                </div>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid bg-white p-3 w-100 mb-3" id="img-fluid-1" src="~/resources/gallery-photos/Small_IMG_3322.jpg" alt="">
                        <img class="img-fluid bg-white p-3 w-50" id="img-fluid-2" src="~/resources/gallery-photos/Small_IMG_3642.jpg" alt="">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid bg-white p-3 w-50 mb-3" id="img-fluid-3" src="~/resources/gallery-photos/Small_IMG_7076.jpg" alt="">
                        <img class="img-fluid bg-white p-3 w-100" id="img-fluid-4" src="~/resources/gallery-photos/Small_IMG_7151.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
<!-- Project Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Фотосесии</p>
            <h1 class="display-6 mb-0">Разгледайте нашите фотосесии</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-5.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-5.jpg" data-lightbox="project">
                                Сватба
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-1.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-1.jpg" data-lightbox="project">
                                Абитуриенти
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-2.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-2.jpg" data-lightbox="project">
                                Свето кръщение
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-6.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-6.jpg" data-lightbox="project">
                                Идивидуална
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-7.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-7.jpg" data-lightbox="project">
                                Семейна
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-3.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-3.jpg" data-lightbox="project">
                                Събитие
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-4.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-4.jpg" data-lightbox="project">
                                Продукт
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="project-item">
                            <img class="img-fluid" src="img/project-8.jpg" alt="">
                            <a class="project-title h5 mb-0" href="img/project-8.jpg" data-lightbox="project">
                                Автомобил
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project End -->
<!-- Service Start -->
<div class="container-xxl bg-light py-5 my-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Повече</p>
            <h1 class="display-6 mb-4">Научете повече</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/service-1.jpg" alt="">
                        <div class="service-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-link text-primary"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>Услуги</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/service-2.jpg" alt="">
                        <div class="service-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-link text-primary"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>Цени</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/service-3.jpg" alt="">
                        <div class="service-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-link text-primary"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>Галерия</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item d-flex flex-column bg-white p-3 pb-0">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/service-4.jpg" alt="">
                        <div class="service-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-link text-primary"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h4>За нас</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-3 img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid bg-light p-3" src="img/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid bg-light p-3" src="img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">За нас</p>
                    <h1 class="display-6 mb-4">Повече за нас и нашата дейност</h1>
                    <p>Фотоник се роди с идеята да улесни максимално клиентите си. Всички знаем колко е неприятно да очаквате с нетърпение „флашката“, на която фотографът е записал снимките от фотосесията Ви, а тя да се окаже повредена. Никой не е виновен за това - просто се случва. И именно защото знаем, че се случва, създадохме сайта на нашата агенция, където споделяме снимките Ви без размяна на физически копия.</p>
                    <p>Целта на Фотон е да превърнем вашите спомени в изкуство. Независимо дали става дума за сватба, семеен портрет, корпоративно събитие или индивидуална фотосесия, ние се стремим да уловим емоцията и красотата във всеки кадър.</p>
                    <!--<div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Quality Products
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Custom Products
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Online Order
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-3"></i>Home Delivery
                        </div>
                    </div>-->
                    <a class="btn btn-primary py-3 px-5" href="">Научете повече</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl px-0 py-5">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <p class="text-primary text-uppercase mb-2">Актуално</p>
        <h1 class="display-6 mb-0">Последните новини и публикации</h1>
    </div>
    <div class="row g-0">

        @foreach (DynamicContent dynamicContent in Model?.DynamicContents ?? new List<DynamicContent>())
        {
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 flex-sm-row">
                    <div class="col-sm-6">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="~/resources/images/@(dynamicContent.ImageName)" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="h-100 p-5 d-flex flex-column justify-content-between">
                            <div class="mb-3">
                                <h4>@(dynamicContent.Title ?? "")</h4>
                                <span>@(dynamicContent?.DynamicContentCategories?.Name ?? "") | @(dynamicContent?.CreatedOn.ToString("dd.MM.yyyy") ?? "") г.</span>
                            </div>
                            <p>@(dynamicContent?.Description ?? "")</p>
                            <div class="d-flex">
                                <a class="btn btn-square btn-outline-primary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-outline-primary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-outline-primary rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">Оценки</p>
            <h1 class="display-6 mb-0">Какво споделят нашите клиенти</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">

            @foreach(Testimony testimony in Model?.Testimonies ?? new List<Testimony>())
            {
                <div class="testimonial-item bg-white p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="~/img/user-testimony.png" alt="">
                        <div class="ms-4">
                            <h5 class="mb-1">@((testimony.PersonFirstName ?? "") + " " + (testimony.PersonLastName ?? ""))</h5>
                            <div class="star">
                                @for (int i = 0; i < testimony.Stars; i++)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                                @for (int i = testimony.Stars + 1; i <= 5; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">@testimony.Content</p>
                </div>
            }

        </div>
    </div>
</div>
<!-- Testimonial End -->