@model bool


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp portfolio-section-title" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Фотосесии</h4>
            <h1 class="display-5 mb-4">НАШЕТО ПОРТФОЛИО</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="img/service-1.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="~/img/icons/icon-5.png" alt="Icon">
                        <h3 class="mb-3">Сватбен портрет</h3>
                        <!--<p class="mb-4">Нашият основен фокус е сватбеният портрет – изкуството да уловим красотата, нежността и неподправените емоции между младоженците и техните най-близки хора.</p>-->
                        <a class="btn btn-view-services" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Wedding"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Wedding"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="~/img/service-2.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="img/icons/icon-6.png" alt="Icon">
                        <h3 class="mb-3">Абитуриенти</h3>
                        <!--<p class="mb-4">Това е вечерта, в която празнувате края на едно важно приключение и началото на следващата голяма стъпка. Ще се погрижим да създадем красиви и стилни снимки, които ще Ви напомнят за нея.</p>-->
                        <a class="btn btn-view-services" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Prom"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Prom"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="~/img/service-3.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="img/icons/icon-7.png" alt="Icon">
                        <h3 class="mb-3">Свето кръщене</h3>
                        ,<!--<p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
                        <a class="btn btn-view-services" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Baptism"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Baptism"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="~/img/service-4.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="img/icons/icon-8.png" alt="Icon">
                        <h3 class="mb-3">Индивидуална</h3>
                        <!--<p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
                        <a class="btn btn-view-services" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Portrait"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="~/img/service-5.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="~/img/icons/icon-9.png" alt="Icon">
                        <h3 class="mb-3">Семейна</h3>
                        <!--<p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
                        <a class="btn" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Wedding"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Wedding"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="img/service-6.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="~/img/icons/icon-10.png" alt="Icon">
                        <h3 class="mb-3">Събитие</h3>
                        <!--<p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
                        <a class="btn btn-view-services" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Events"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Event"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="img/service-7.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="~/img/icons/icon-10.png" alt="Icon">
                        <h3 class="mb-3">Продукт</h3>
                        <!--<p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
                        <a class="btn" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Product"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Product"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="img/service-8.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="~/img/icons/icon-10.png" alt="Icon">
                        <h3 class="mb-3">Автомобил</h3>
                        <!--<p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
                        <a class="btn btn-view-services" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Automotive"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Automotive"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="~/img/service-9.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="img/icons/icon-10.png" alt="Icon">
                        <h3 class="mb-3">Бизнес портрет</h3>
                        <!--<p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
                        <a class="btn btn-view-services" asp-controller="Photo" asp-action="Portfolio" asp-route-category="@Category.Business"><i class="fa fa-plus text-primary me-3"></i>Разгледай</a>
                        <a class="btn" asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.BusinessPortrait"><i class="fa fa-calendar text-primary me-3"></i>Резервирайте</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<script>
    $(document).ready(function () {
        showGalleryButton();
    });

    function showGalleryButton(){
        //make it lower case
        let showButton = "@Html.Raw(Model.ToString().ToLower())";
        
        if (showButton == 'true') {
            $(".btn-view-services").css("display", "inline-block");
            $(".portfolio-section-title").css("display", "block");
        }
        else{
            $(".btn-view-services").css("display", "none");
            $(".portfolio-section-title").css("display", "none");
        }
    }
</script>