@model bool


<div class="row g-0">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-0 flex-sm-row">
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/img/svatbena-fotografiya-5.jpg" alt="wedding">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="Wedding"><h4>Сватбена фотография</h4></a>
                        <span>Цена от </span><span class="text-primary service-price">@DefaultValue.WeddingPhotoshoot лв</span>
                    </div>
                    <p>Нашият фокус е върху сватбения портрет – красиви и емоционални снимки на младоженците и техните близки.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Wedding" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Wedding" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-0 flex-sm-row-reverse flex-lg-row">
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/img/abiturienti-fotosesii-plovdiv-4.jpg" alt="prom">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="Prom"><h4>Фотосесия за абитуриенти</h4></a>
                        <span>Цена от </span><span class="text-primary service-price">@DefaultValue.PromPhotoshoot лв</span>
                    </div>
                    <p>Абитуриентският бал е един от най-вълнуващите моменти в живота на всеки ученик или студент. Ще създадем красиви и стилни снимки, които ще Ви напомнят за него.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Prom" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Prom" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-0 flex-sm-row-reverse">
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/img/individualni-fotosesii-esen-1.jpg" alt="individual">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="Individual"><h4>Индивидуални и семейни фотосесии</h4></a>
                        <span>Цена от </span><span class="text-primary service-price">@DefaultValue.PortrairPhotoShoot лв</span>
                    </div>
                    <p>Ще работим с вас, за да създадем портрети, които отразяват вашата същност и характер.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Portrait" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Portrait" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-0 flex-sm-row-reverse">
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/img/biznes-portret-2.jpg" alt="bussiness portrait">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="Business"><h4>Фотография за бизнеса</h4></a>
                        <span>Цена от </span><span class="text-primary service-price">@DefaultValue.BusinessPortrait лв</span>
                    </div>
                    <p>Подкрепете своя професионален имидж с въздействащи кадри. Това са повече от обикновена снимки — това е стратегически инструмент, който изгражда доверие, демонстрира увереност и укрепва личния Ви бранд.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Business" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Business" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-0 flex-sm-row-reverse flex-lg-row">
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/img/avtomobilna-fotografiya-audi.jpg" alt="automotive">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="Automotive"><h4>Автомобилна фотография</h4></a>
                        <span>Цена от </span><span class="text-primary service-price">@DefaultValue.Automotive лв</span>
                    </div>
                    <p>Интериор, екстериор, на паркинг, в движение по улиците - ще получите кадри, отразяващи характера на автомобила ви.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Automotive" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Automotive" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-0 flex-sm-row-reverse">
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="Baptism"><h4>Свето кръщене</h4></a>
                        <span>Цена от </span><span class="text-primary service-price">@DefaultValue.Baptism лв</span>
                    </div>
                    <p>Ще уловим красивите и емоционални моменти от церемонията по Светото кръщение, както и радостта и любовта, които споделяте със семейството и приятелите си.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Baptism" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Baptism" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/img/sveto-krashtene-plovdiv.jpg" alt="baptism">
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-0 flex-sm-row-reverse flex-lg-row">
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="Event"><h4>Събитие</h4></a>
                        <span class="text-primary price">Цена по договаряне</span>
                    </div>
                    <p>Ще се радваме да разкажем вашето събитие с нашите кадри.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Events" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Events" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/img/service-6.jpg" alt="event">
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="row g-0 flex-sm-row-reverse">
            <div class="col-sm-6">
                <div class="h-100 p-5 d-flex flex-column justify-content-between">
                    <div class="mb-3">
                        <a asp-controller="StaticContent" asp-action="SecretPhotoshoot"><h4>Тайна фотосесия</h4></a>
                        <span>Цена от </span><span class="text-primary service-price">@DefaultValue.SecretPhotoshoot лв</span>
                    </div>
                    <p>Искате да направите предложение за брак? Да изненадате приятел? Направете момента още по-изненадващ и специален, като го запечатате без знанието на другия. Непринудените реакции на хората са безценни и винаги изглеждат красиво на снимки.</p>
                    <div class="d-flex">
                        <a target="_blank" asp-action="ReserveByType" asp-controller="PhotoShoot" asp-route-photoShootType="@Category.Automotive" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa fa-calendar-days"></i></a>
                        <a target="_blank" asp-action="Portfolio" asp-controller="Photo" asp-route-category="@Category.Automotive" class="btn btn-square btn-outline-primary rounded-circle me-2"><i class="fa-solid fa-images"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-img position-relative">
                    <img class="img-fluid" src="~/resources/images/secret.jpg" alt="secret">
                </div>
            </div>
        </div>
    </div>-->
</div>

<script>
    $(document).ready(function () {
        showGalleryButton();
    });

    function showGalleryButton(){
        //make it lower case
        let showPrice = "@Html.Raw(Model.ToString().ToLower())";
        
        if (showPrice == 'true') {
            $(".price").css("display", "block");
        }
        else{
            $(".price").css("display", "none");
        }
    }
</script>