@model bool

<div class="row row-portfolio">
    <div class="col-12 col-md-6 text-center col-portfolio col-portrait">
        <div class="portfolio-content-wrap">
            <h1>Идивидуална фотосесия</h1>
            <p>Превърнете се в модел</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Portrait" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
    <div class="col-12 col-md-6 text-center col-portfolio col-wedding">
        <div class="portfolio-content-wrap">
            <h1>Семейна фотосесия</h1>
            <p>Скъпоценни моменти, завинаги заедно</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Wedding" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Wedding" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
    <div class="col-12 col-md-6 text-center col-portfolio col-baptism">
        <div class="portfolio-content-wrap">
            <h1>Свето кръщение</h1>
            <p>Ще уловим красивите и емоционални моменти от церемонията по Светото кръщение.</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Baptism" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Baptism" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
    <div class="col-12 col-md-6 text-center col-portfolio col-prom">
        <div class="portfolio-content-wrap">
            <h1>Абитуриентски бал</h1>
            <p>Ще създадем красиви и стилни снимки, които ще Ви напомнят за този вълнуващ момент.</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Prom" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Prom" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
    <div class="col-12 col-md-6 text-center col-portfolio col-automobile">
        <div class="portfolio-content-wrap">
            <h1>Автомобил</h1>
            <p>Нека автомобилът Ви бъде звездата!</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Automotive" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Automotive" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
    <div class="col-12 col-md-6 text-center col-portfolio col-product">
        <div class="portfolio-content-wrap">
            <h1>Продукт</h1>
            <p>Ще представим продуктовия Ви каталог в най-добра светлина.</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Product" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Product" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
    <div class="col-12 col-md-6 text-center col-portfolio col-business-portrait">
        <div class="portfolio-content-wrap">
            <h1>Бизнес портрет</h1>
            <p>Професионални портрети, отразяващи вашата увереност и индивидуалност</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Business" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.BusinessPortrait" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
    <div class="col-12 col-md-6 text-center col-portfolio col-event">
        <div class="portfolio-content-wrap">
            <h1>Събитие</h1>
            <p>Дали рожден ден, корпоратиено събитие или концерт - ще запечатаме всички интересни моменти от събитието.</p>
        </div>
        <a asp-controller="Photo" asp-action="AllByCategory" asp-route-category="@Category.Events" class="btn btn-light btn-view-services">Разгледайте</a>
        <a asp-controller="PhotoShoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Event" class="btn btn-warning btn-book-services">Резервирайте</a>
    </div>
</div>

<style>
    .row-portfolio {
        margin-top: 80px;
    }

    .row-portfolio .col-portfolio {
        background-size: cover;
        border: 20px solid #fff;
    }

    .row-portfolio .col-portfolio h1 {
        margin-top: 80px;
        padding: 0 60px;
        color: #fff;
    }

    .row-portfolio .col-portfolio p {
        margin-top: 20px;
        padding: 0 60px;
        color: #fff;
    }

    .row-portfolio .col-portfolio a {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .row-portfolio .col-portfolio .portfolio-content-wrap {
        background: rgba(0, 0, 0, 0.1);
    }

    .row-portfolio .col-portfolio .btn-book-services {
        color: #fff;
        border-radius: unset;
        font-weight: bold;
    }

    .row-portfolio .col-portfolio .btn-view-services {
        border-radius: unset;
        font-weight: bold;
    }

    .row-portfolio .col-wedding {
        background-image: url(@Url.Content("~/resources/images/family.jpg"));
    }

    .row-portfolio .col-portrait {
        background-image: url(@Url.Content("~/resources/images/portrait.jpg"));
    }

    .row-portfolio .col-baptism {
        background-image: url(@Url.Content("~/resources/images/baptism.jpg"));
    }

    .row-portfolio .col-prom {
        background-image: url(@Url.Content("~/resources/images/prom.jpg"));
    }

    .row-portfolio .col-automobile {
        background-image: url(@Url.Content("~/resources/images/automobile.jpg"));
    }

    .row-portfolio .col-product {
        background-image: url(@Url.Content("~/resources/images/product.jpg"));
    }

    .row-portfolio .col-event {
        background-image: url(@Url.Content("~/resources/images/event.jpg"));
    }

    .row-portfolio .col-business-portrait {
        background-image: url(@Url.Content("~/resources/images/bussinessPortrait.jpg"));
    }
</style>

<script>
    $(document).ready(function () {
        showGalleryButton();
    });

    function showGalleryButton(){
        //make it lower case
        let showButton = "@Html.Raw(Model.ToString().ToLower())";
        
        if (showButton == 'true') {
            $(".btn-view-services").css("display", "inline-block");
        }
        else{
            $(".btn-view-services").css("display", "none");
        }
    }
</script>