@model List<MyPhotoShootsDTO>

@{
    ViewData["Title"] = "Моите фотосесии";
}

<div class="container my-5">
    <div class="row mt-5 pt-5">
        <div class="col-12 text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">

            @if(Model.Count == 0)
            {
                <h6 class="mt-5 text-center"><i>Резервациите ви ще се покажат тук</i></h6>
            }

            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Тип</th>
                            <th>Създаден на</th>
                            <th>Резервиран за</th>
                        </tr>
                    </thead>

                    @foreach (MyPhotoShootsDTO dto in Model)
                    {
                        <tr class="clickable" id="@dto.Id">
                            <td>@dto.ReservationDate.ToString("dd.MM.yyyy") г. @dto.ReservationDate.ToString("hh:mm") ч.</td>

                            <td>
                                @{
                                    DisplayAttribute attributeValue = dto.PhotoShootType.GetAttribute<DisplayAttribute>();
                                }
                                @attributeValue.Name
                            </td>

                            <td>@dto.CreatedOn.ToString("dd.MM.yyyy") г. @dto.CreatedOn.ToString("hh:mm") ч.</td>
                            <td>@dto.ReservationFor</td>
                        </tr>
                    }

                </table>
            }
            
        </div>
    </div>
</div>

<style>
    tr:hover{
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function(){
        let scheme = "@Context.Request.Scheme";
        let host = "@Context.Request.Host";
        let path = "/PhotoShoot/PhotoShootById"
        let id = 0;

        $("tr").mouseover(function () {
            id = this.id;
        });
        
        $(".clickable").click(function (){
            window.location = scheme + "://" + host + path + '/' + id;
        });
    });
</script>
