@model List<MyPhotoShootsDTO>

@{
    ViewData["Title"] = "Моите фотосесии";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@ViewData["Title"]</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
</section>
<div class="container my-photoshoots-container my-5">
    <div class="row mt-2">
        <div class="col-12 text-dark text-center">
            <h1>Активни фотосесии</h1>
            @if(Model.Where(m => m.PhotoshootStatus == PhotoshootStatus.New).Count() == 0)
            {
                <h4 class="text-dark"><i>Нямате активни фотосесии</i></h4>
            }
            @foreach (MyPhotoShootsDTO dto in Model.Where(m => m?.PhotoshootStatus == PhotoshootStatus.New))
            {
                <div class="card text-dark mt-5 photoshoot-card">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="card-body">
                                <h3 class="text-warning mb-3">@(dto?.PhotoShootType.GetAttribute<DisplayAttribute>()?.Name)</h3>
                                <span>Резервиран за</span>
                                <h4 class="text-data">@dto?.ReservationFor</h4>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3">
                            <div class="card-body">
                                <h6>Дата</h6>
                                <h2 class="text-data">@dto?.ReservationDate.ToString("dd.MM")</h2>
                                <h3 class="text-data text-year">@dto?.ReservationDate.ToString("yyyy") г.</h3>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3">
                            <div class="card-body">
                                <h6>Цена</h6>
                                <h2 class="text-data">@dto?.Price лв</h2>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2">
                            <div class="card-body text-center mx-auto">
                                <span><i class="fa-solid fa-wand-magic-sparkles text-info fa-lg"></i></span>
                                <h6>@(dto?.PhotoshootStatus?.GetAttribute<DisplayAttribute>().Name)</h6>
                                <a asp-controller="Photoshoot" asp-action="PhotoshootById" asp-route-id="@dto?.Id" class="btn btn-warning btn btn-lg text-white">Преглед</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.Where(m => m.PhotoshootStatus == PhotoshootStatus.Completed).Count() > 0)
    {
        <div class="row mt-5">
            <div class="col-12 text-dark text-center">
                <h1>Приключили фотосесии</h1>
                @foreach (MyPhotoShootsDTO dto in Model.Where(m => m?.PhotoshootStatus == PhotoshootStatus.Completed))
                {
                    <div class="card text-dark mt-5 photoshoot-card">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="card-body">
                                    <h3 class="text-warning mb-3">@(dto?.PhotoShootType.GetAttribute<DisplayAttribute>()?.Name)</h3>
                                    <span>Резервиран за</span>
                                    <h4 class="text-data">@dto?.ReservationFor</h4>
                                </div>
                            </div>
                            <div class="col-4 col-lg-3">
                                <div class="card-body">
                                    <h6>Дата</h6>
                                    <h3 class="text-data">@dto?.ReservationDate.ToString("dd.MM")</h3>
                                    <h2 class="text-data text-year">@dto?.ReservationDate.ToString("dyyyy") г.</h2>
                                </div>
                            </div>
                            <div class="col-4 col-lg-3">
                                <div class="card-body">
                                    <h6>Цена</h6>
                                    <h2 class="text-data">@dto?.Price лв</h2>
                                </div>
                            </div>
                            <div class="col-4 col-lg-2">
                                <div class="card-body text-center mx-auto">
                                    <span><i class="fa-solid fa-check text-info fa-lg"></i></span>
                                    <h6>@(dto?.PhotoshootStatus?.GetAttribute<DisplayAttribute>().Name)</h6>
                                    <a asp-controller="Photoshoot" asp-action="PhotoshootById" asp-route-id="@dto?.Id" class="btn btn-warning btn btn-lg text-white">Преглед</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    
</div>

<style>
    tr:hover{
        cursor: pointer;
    }

    @@media only screen and (max-width: 768px) {
        .photoshoot-card .text-data {
            font-size: 1.1rem;
        }

        .photoshoot-card .text-year, h6, span, p {
            font-size: .9rem;
        }

        .photoshoot-card .btn{
            padding: 5px;
            border-radius: 0 !important;
        }
    }
</style>

<script>
    $(document).ready(function(){
        let scheme = "@Context.Request.Scheme";
        let host = "@Context.Request.Host";
        let path = "/PhotoShoot/PhotoShootById"
        let id = 0;

        $("tr").mouseover(function () {
            id = this.id;
        });
        
        $(".clickable").click(function (){
            window.location = scheme + "://" + host + path + '/' + id;
        });
    });
</script>
