@model PhotoShootByIdDTO

<div class="container">
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <h1>Фотосесия</h1>
            <h4>@(Model?.PhotoshootNumber ?? "N/A")</h4>
        </div>
    </div>
    <hr />
    <div class="row mt-5">
        <div class="col-6 col-lg-2 mx-auto text-center">
            <i class="fa-solid fa-user-tie fa-2x"></i>
            <h5 class="mt-2">@(Model?.PersonFullName ?? "N/A")</h5>
        </div>
        <div class="col-6 col-lg-2 mx-auto text-center">
            <i class="fa-solid fa-calendar-days fa-2x"></i>
            <h5 class="mt-2">@Model?.ReservationDate.ToString("dd.MM.yyyy") г. @Model?.ReservationDate.ToString("hh:mm") ч.</h5>
        </div>
        <div class="col-6 col-lg-2 mx-auto text-center">
            <i class="fa-solid fa-calendar-plus fa-2x"></i>
            <h5 class="mt-2">@Model?.CreatedOn.ToString("dd.MM.yyyy") г. @Model?.CreatedOn.ToString("hh:mm") ч.</h5>
        </div>
        <div class="col-6 col-lg-2 mx-auto text-center">
            <i class="fa-solid fa-camera fa-2x"></i>
            <h5 class="mt-2">@(Model?.PhotoShootType.GetAttribute<DisplayAttribute>().Name)</h5>
        </div>
        <div class="col-6 col-lg-2 mx-auto text-center">
            <i class="fa-solid fa-location-dot fa-2x"></i>
            <h5 class="mt-2">
                @if (Model?.IsPopularPlaceSelected != null)
                {
                    @Model?.Place
                },
                @(Model?.Settlement ?? "N/A"),
                @(Model?.Region ?? "N/A")
            </h5>
        </div>
    </div>
    <!--<div class="row mt-3">
        <div class="col-4 mx-auto text-center">
            <hr />
            <h4>Ще получите снимките си</h4>
            <h5 class="mt-2">
                @(string.IsNullOrEmpty(Model?.PhotoDeliveryMethod.ToString()) ?
                    "В профила Ви" :
                    Model?.PhotoDeliveryMethod)
                @(Model?.PhotoDeliveryAddress != null ? ", " : "")
                @(Model?.PhotoDeliveryAddress ?? "")
            </h5>
        </div>
    </div>-->
    <div class="row mt-5">
        <div class="col-4 col-lg-2 mx-auto text-center price">
            <h4>ЦЕНА</h4>
            <h5><i>@(Model?.Price.ToString() ?? "N/A") лв</i></h5>
        </div>
    </div>
</div>


<div class="container mt-5">
<hr />
    @if (Model?.PhotoShootPhotos.Count == 0)
    {
        <div class="row mt-5">
            <div class="col-12">
                <h5 class="text-center"><i>Снимките ще се покажат скоро тук</i></h5>
            </div>
        </div>
    }
    
    else
    {
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-3">Снимки</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 mb-5 mx-auto text-center">
                <a asp-action="DownloadAll" asp-controller="Download" asp-route-photoshootId="@(Model?.Id)" class="btn btn-secondary btn-sm">Изтегли албум</a>
            </div>
        </div>
        
        <div class="row">
            @foreach(PhotoShootPhoto photo in Model?.PhotoShootPhotos ?? new List<PhotoShootPhoto>())
            {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/resources/@(photo.FilePath + '/' + photo.FileName)">
                    </div>
                    <div class="card-footer">
                        <form asp-action="DownloadPhotoShootPhoto" asp-controller="Download">
                            <input type="hidden" asp-for="@photo.FileName">
                            <input type="hidden" asp-for="@photo.FileType">
                            <input type="hidden" asp-for="@photo.FilePath">

                            <button type="submit" class="btn btn-primary">Изтегли</button>
                        </form>
                    </div>
                </div>
            </div>
            }
        </div>
        
    }
</div>

<style>
    .card{
        min-height: 300px;
    }
    .price{
        background: #ffc800;
        color: #fff;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 22px #ffc800;
    }
</style>
