@model PhotoShootByIdDTO

<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <h1>Фотосесия</h1>
            <h3>@(Model?.PhotoshootNumber ?? "N/A")</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto mt-5">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Модел</th>
                        <th>Дата</th>
                        <th>Тип</th>
                        <th>Създаден на</th>
                        @if (Model?.IsPopularPlaceSelected != null)
                        {
                            <th>Място</th>
                        }
                        <th>Град</th>
                        <th>Област</th>
                        <th>Получаване</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model?.PersonFullName</td>
                        <td>@Model?.ReservationDate.ToString("dd.MM.yyyy") г. @Model?.ReservationDate.ToString("hh:mm") ч.</td>
                        <td>
                            @{
                                DisplayAttribute attributeValue = Model?.PhotoShootType.GetAttribute<DisplayAttribute>();
                            }
                            @attributeValue?.Name
                        </td>
                        <td>@Model?.CreatedOn.ToString("dd.MM.yyyy") г. @Model?.CreatedOn.ToString("hh:mm") ч.</td>
                        @if (Model?.IsPopularPlaceSelected != null)
                        {
                            <td>@Model?.Place</td>
                        }
                        <td>@(Model?.Settlement ?? "N/A")</td>
                        <td>@(Model?.Region ?? "N/A")</td>
                        <td>
                            @(string.IsNullOrEmpty(Model?.PhotoDeliveryMethod.ToString()) ? 
                                "В профила Ви" : 
                                Model?.PhotoDeliveryMethod)
                            @(Model?.PhotoDeliveryAddress != null ? ", " : "")
                            @(Model?.PhotoDeliveryAddress ?? "")
                        </td>
                        <td>@(Model?.Price.ToString() ?? "N/A") лв</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    @if (Model?.PhotoShootPhotos.Count == 0)
    {
        <div class="row">
            <div class="col-12">
                <p class="text-center"><i>Снимките ще се покажат скоро тук</i></p>
            </div>
        </div>
    }
    
    else
    {
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-3">Снимки</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 mb-5">
                <a asp-action="DownloadAll" asp-controller="Download" asp-route-photoshootId="@(Model?.Id)" class="btn btn-secondary btn-sm">Свали албум</a>
            </div>
        </div>
        
        <div class="row">
            @foreach(PhotoShootPhoto photo in Model?.PhotoShootPhotos ?? new List<PhotoShootPhoto>())
            {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/resources/@(photo.FilePath + '/' + photo.FileName)">
                    </div>
                    <div class="card-footer">
                        <form asp-action="DownloadPhotoShootPhoto" asp-controller="Download">
                            <input type="hidden" asp-for="@photo.FileName">
                            <input type="hidden" asp-for="@photo.FileType">
                            <input type="hidden" asp-for="@photo.FilePath">

                            <button type="submit" class="btn btn-primary">Download</button>
                        </form>
                    </div>
                </div>
            </div>
            }
        </div>
        
    }
</div>

<style>
    .card{
        min-height: 300px;
    }
</style>
