@model PhotoShootByIdDTO

@{
    ViewData["Title"] = $"Фотосесия № {Model.PhotoshootNumber}";
}

<div class="container mb-5">
    <div class="page-cover text-center">
        <h2 class="page-cover-tittle">@ViewData["Title"]</h2>
    </div>
</div>
<div class="photoshoot-details-section-wrap">
    <div class="container mt-5 py-5">
        <div class="row">
            <div class="col-4 mx-auto text-center">
                <h3 class="text-primary"><i class="fa-solid fa-camera fa-lg"></i></h3>
                <h3 class="photoshoot-details-top">@(Model.PhotoShootType.GetAttribute<DisplayAttribute>().Name)</h3>
            </div>
            
            @if (Model?.IsSmallProduct != true)
            {
                <div class="col-4 mx-auto text-center">
                    <h3 class="text-primary"><i class="fa-solid fa-calendar-days fa-lg"></i></h3>
                    <h3 class="photoshoot-details-top">@Model?.ReservationDate.ToString("dd.MM.yyyy") г. @Model?.ReservationDate.ToString("HH:mm") ч.</h3>
                </div>
            }
            
            <div class="col-4 mx-auto text-center">
                <h3 class="text-primary"><i class="fa-solid fa-sack-dollar fa-lg"></i></h3>
                <h3 class="photoshoot-details-top service-price">@Model?.Price лв</h3>
                @if(Model?.NumberOfParticipants > 1)
                {
                    <p class="text-muted"><i>*цена за @Model?.NumberOfParticipants участници</i></p>
                }
            </div>
        </div>
        <div class="row my-5 py-3">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Създаден</th>
                            <th>Име</th>
                            <th>Телефон</th>
                            <th>ЕИК</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model?.CreatedOn.ToString("dd.MM.yyyy") г. @Model?.CreatedOn.ToString("HH:mm") ч.</td>
                            <td>@Model?.PersonFullName</td>
                            <td>@Model?.PersonPhone</td>
                            <td>@(Model?.UIC ?? "Няма")</td>
                            <td class="@(Model?.Status == PhotoshootStatus.New ? "text-info" : "text-success") font-weight-bold">@(Model?.Status?.GetAttribute<DisplayAttribute>().Name)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row my-5">

            @if (Model?.IsSmallProduct != true)
            {
                <div class="col-12 col-md-4 text-center mx-auto">
                    <h2>Локация</h2>
                    <p>@Model?.Settlement, обл. @Model?.Region</p>
                    <h4><i class="fa-solid fa-location-dot fa-lg"></i> @Model?.Place</h4>
                </div>
                <div class="col-12 col-md-4 mt-5 mt-md-0 text-center mx-auto">
                    <h2>Транспорт</h2>
                    @if (Model!.TransportCustomer)
                    {
                        <p>Да</p>
                        <h6><i class="fa-solid fa-location-dot fa-lg"></i> @Model.PickUpAddress</h6>
                    }
                    else
                    {
                        <p>-</p>
                        <h6>Не</h6>
                    }
                </div>
            }
            
            <div class="col-12 col-md-4 mt-5 mt-md-0 text-center mx-auto">
                <h2>Снимки</h2>
                <p>@(Model?.PhotoDeliveryMethod?.GetAttribute<DisplayAttribute>().Name ?? "-")</p>
                @if (Model!.PhotoDeliveryMethod != PhotoDeliveryMethod.Email && Model!.PhotoDeliveryMethod != null)
                {
                    <h6><i class="fa-solid fa-location-dot fa-lg"></i> @Model?.PhotoDeliveryAddress</h6>
                }
                else if (Model.PhotoDeliveryMethod == PhotoDeliveryMethod.Email)
                {
                    <h6>По имейл</h6>
                }
                else
                {
                    <h6>Ще получите снимките в профила си</h6>
                }
            </div>
        </div>
        
        @if (!string.IsNullOrEmpty(Model?.PhotoShootTypeDescription))
        {
            <div class="row pt-5 my-5">
                <div class="col-12 text-center">
                    <h2>Допълнителна информация</h2>
                    <p class="mt-3">@Model?.PhotoShootTypeDescription</p>
                </div>
            </div>
        }
        
    </div>
</div>
@if(Model?.PhotoDeliveryMethod == null)
{
    <div class="photos-section-wrap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">Вашите снимки</h2>
                <p>Може да изтеглите снимките една по една или всички като албум</p>
            </div>
            <div class="row_mb30">
                <div class="col-12 mb-5 text-center mx-auto">
                    @if(Model?.PhotoShootPhotos?.Count > 0)
                    {
                        <a asp-action="DownloadAll" asp-controller="Download" asp-route-photoshootId="@(Model?.Id)" class="btn btn-primary mt-3"><i class="fa-solid fa-download fa-lg"></i> Изтегли албум</a>
                    }
                </div>
            </div>
            <div class="row">
                @if (Model?.PhotoShootPhotos?.Count == 0)
                {
                    <div class="col-12 mx-auto text-center">
                        <div class="no-photos">
                            <h6 class="text-primary">Снимките ще Ви очакват тук скоро</h6>
                        </div>
                    </div>
                }

                else
                {
                    @foreach (PhotoShootPhoto photo in Model?.PhotoShootPhotos ?? new List<PhotoShootPhoto>())
                    {
                        <div class="item col-lg-3 col-md-4 col-6 col-sm text-center mt-5">
                            <a href="~/resources/@(photo?.FilePath + '/' + photo?.FileName)" class="fancylight popup-btn" data-fancybox-group="light">
                                <img class="img-fluid" src="~/resources/@(photo.FilePath + '/' + photo.FileName)" alt="gallery-item">
                            </a>
                            <form asp-action="DownloadPhotoShootPhoto" asp-controller="Download">
                                @Html.AntiForgeryToken()
                                <input type="hidden" asp-for="@photo!.FileName">
                                <input type="hidden" asp-for="@photo!.FileType">
                                <input type="hidden" asp-for="@photo!.FilePath">

                                <button type="submit" class="btn btn-primary download-photo-btn" style="border-radius:0"><i class="fa-solid fa-download fa-lg"></i> <span class="font-weight-bold">Изтегли</span></button>
                            </form>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}

<div class="mt-5">
    <partial name="_CreateTestimony" model="new CreateTestimonyDTO()"></partial>
</div>
 

<style>
    .portfolio-item .item {
        float: left;
        margin-bottom: 10px;
    }

    .portfolio-item .item .item-details-btn {
        display: none;
        transition: .5s;
    }

    .portfolio-item .item:hover .item-details-btn {
        display: block;
        transition: .5s;
    }

    .download-photo-btn{
        width: 100%;
    }

    @@media only screen and (max-width: 768px) {
        .photoshoot-details-top{
            font-size: 1.1rem;
        }

        .photos-section-wrap{
            margin-top: 50px;
        }

        .tesimonail-container-title{
            font-size: 2rem;
        }
    }
</style>

<script>
    $(document).ready(function () {
        //harcode "all"
        filter("*");

        var popup_btn = $('.popup-btn');
        popup_btn.magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });

    function filter(filter){
        $('.portfolio-item').isotope({
            filter: filter
        });
        return false;
    }
</script>