@model PhotoShootByIdDTO

@{
    ViewData["Title"] = $"Фотосесия {Model.PhotoshootNumber}";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@ViewData["Title"]</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Тиш фотосесия</td>
                        <td><h4>@(Model.PhotoShootType.GetAttribute<DisplayAttribute>().Name)</h4></td>
                    </tr>
                    <tr>
                        <td>Модел</td>
                        <td><h4>@Model.PersonFullName</h4></td>
                    </tr>
                    <tr>
                        <td>Дата</td>
                        <td><h4>@Model.ReservationDate.ToString("dd.MM.yyyy") г.</h4></td>
                    </tr>
                    <tr>
                        <td>Място</td>
                        <td><h4>@(Model.Place), @(Model.Settlement), @(Model.Region)</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Превоз</td>
                        <td><h4>@(Model.TransportCustomer ? Model.PickUpAddress : "Не")</h4></td>
                    </tr>
                    <tr>
                        <td>Получаване</td>
                        <td>
                            @if (Model.PhotoDeliveryMethod == PhotoDeliveryMethod.CD || Model.PhotoDeliveryMethod == PhotoDeliveryMethod.USB)
                            {
                                <h4>@($"{Model.PhotoDeliveryAddress}")</h4>
                            }
                            else if (Model.PhotoDeliveryMethod == null)
                            {
                                <h4>Чрез сайта</h4>
                            }
                            else
                            {
                                <h4>@(Model.PhotoDeliveryMethod.GetAttribute<DisplayAttribute>().Name)</h4>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Създаден</td>
                        <td><h4>@Model.CreatedOn.ToString("dd.MM.yyyy") г.</h4></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td><h4>@Model.Price лв</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    @if (!string.IsNullOrEmpty(Model.PhotoShootTypeDescription))
    {
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h2>Описание</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                @Model.PhotoShootTypeDescription
            </div>
        </div>
    }

</div>


<div class="container my-5 py-5">
<hr />
    @if (Model?.PhotoShootPhotos?.Count == 0)
    {
        <div class="row">
            <div class="col-12">
                <h3 class="text-center"><i>Снимките ще се покажат скоро тук</i></h3>
            </div>
        </div>
    }
    
    else
    {
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-3">Снимки</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 mb-5 mx-auto text-center">
                <a asp-action="DownloadAll" asp-controller="Download" asp-route-photoshootId="@(Model?.Id)" class="btn btn-secondary btn-sm">Изтегли албум</a>
            </div>
        </div>
        
        <div class="row">
            @foreach(PhotoShootPhoto photo in Model?.PhotoShootPhotos ?? new List<PhotoShootPhoto>())
            {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/resources/@(photo.FilePath + '/' + photo.FileName)">
                    </div>
                    <div class="card-footer">
                        <form asp-action="DownloadPhotoShootPhoto" asp-controller="Download">
                            <input type="hidden" asp-for="@photo.FileName">
                            <input type="hidden" asp-for="@photo.FileType">
                            <input type="hidden" asp-for="@photo.FilePath">

                            <button type="submit" class="btn btn-primary">Изтегли</button>
                        </form>
                    </div>
                </div>
            </div>
            }
        </div>
    }
</div>
