@model PhotoShootByIdDTO

@{
    ViewData["Title"] = $"Фотосесия {Model.PhotoshootNumber}";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@ViewData["Title"]</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
</section>
<div class="photoshoot-details-section-wrap">
    <div class="container my-5">
        <div class="row my-5">
            <div class="col-4 mx-auto text-center">
                <h3 class="text-warning"><i class="fa-solid fa-camera fa-lg"></i></h3>
                <h3 class="photoshoot-details-top">@(Model.PhotoShootType.GetAttribute<DisplayAttribute>().Name)</h3>
            </div>
            
            @if (Model?.IsSmallProduct != true)
            {
                <div class="col-4 mx-auto text-center">
                    <h3 class="text-warning"><i class="fa-solid fa-calendar-days fa-lg"></i></h3>
                    <h3 class="photoshoot-details-top">@Model.ReservationDate.ToString("dd.MM.yyyy") г. @Model.ReservationDate.ToString("h:mm") ч.</h3>
                </div>
            }
            
            <div class="col-4 mx-auto text-center">
                <h3 class="text-warning"><i class="fa-solid fa-sack-dollar fa-lg"></i></h3>
                <h3 class="photoshoot-details-top">@Model.Price лв</h3>
            </div>
        </div>
        <div class="row my-5 py-3">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Създаден</th>
                            <th>Име</th>
                            <th>Телефон</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.CreatedOn.ToString("dd.MM.yyyy") г. @Model.CreatedOn.ToString("HH:mm") ч.</td>
                            <td>@Model.PersonFullName</td>
                            <td>@Model.PersonPhone</td>
                            <td class="@(Model.Status == PhotoshootStatus.New ? "text-info" : "text-success") font-weight-bold">@(Model?.Status?.GetAttribute<DisplayAttribute>().Name)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row my-5">

            @if (Model?.IsSmallProduct != true)
            {
                <div class="col-12 col-md-4 text-center mx-auto">
                    <h2>Локация</h2>
                    <p>@Model?.Settlement, обл. @Model?.Region</p>
                    <h4><i class="fa-solid fa-location-dot fa-lg"></i> @Model?.Place</h4>
                </div>
                <div class="col-12 col-md-4 mt-5 mt-md-0 text-center mx-auto">
                    <h2>Транспорт</h2>
                    @if (Model!.TransportCustomer)
                    {
                        <p>Да</p>
                        <h6><i class="fa-solid fa-location-dot fa-lg"></i> @Model.PickUpAddress</h6>
                    }
                    else
                    {
                        <p>-</p>
                        <h6>Не</h6>
                    }
                </div>
            }
            
            <div class="col-12 col-md-4 mt-5 mt-md-0 text-center mx-auto">
                <h2>Снимки</h2>
                <p>@(Model?.PhotoDeliveryMethod?.GetAttribute<DisplayAttribute>().Name ?? "-")</p>
                @if (Model!.PhotoDeliveryMethod != PhotoDeliveryMethod.Email && Model!.PhotoDeliveryMethod != null)
                {
                    <h6><i class="fa-solid fa-location-dot fa-lg"></i> @Model?.PhotoDeliveryAddress</h6>
                }
                else if (Model.PhotoDeliveryMethod == PhotoDeliveryMethod.Email)
                {
                    <h6>По имейл</h6>
                }
                else
                {
                    <h6>Ще получите снимките в профила си</h6>
                }
            </div>
        </div>
        
        @if (!string.IsNullOrEmpty(Model?.PhotoShootTypeDescription))
        {
            <div class="row pt-5 my-5">
                <div class="col-12 text-center">
                    <h2>Допълнителна информация</h2>
                    <p class="mt-3">@Model?.PhotoShootTypeDescription</p>
                </div>
            </div>
        }
        
    </div>
</div>
@if(Model?.PhotoDeliveryMethod == null)
{
    <div class="photos-section-wrap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">Вашите снимки</h2>
                <p>Може да изтеглите снимките една по една или всички като албум</p>
            </div>
            <div class="row_mb30">
                <div class="col-12 mb-5 text-center mx-auto">
                    @if(Model?.PhotoShootPhotos?.Count > 0)
                    {
                        <a asp-action="DownloadAll" asp-controller="Download" asp-route-photoshootId="@(Model?.Id)" class="button_hover theme_btn_two"><i class="fa-solid fa-download fa-lg text-white"></i> Изтегли албум</a>
                    }
                </div>
            </div>
            <div class="row">
                @if (Model?.PhotoShootPhotos?.Count == 0)
                {
                    <div class="col-12 mx-auto text-center">
                        <div class="no-photos">
                            <h3><i>Снимките ще Ви очакват тук скоро</i></h3>
                        </div>
                    </div>
                }

                else
                {
                    @foreach (PhotoShootPhoto photo in Model?.PhotoShootPhotos ?? new List<PhotoShootPhoto>())
                    {

                        <div class="col-lg-3 col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">
                                    <img src="~/resources/@(photo.FilePath + '/' + photo.FileName)" alt="user-photo">
                                    <form asp-action="DownloadPhotoShootPhoto" asp-controller="Download">
                                        <input type="hidden" asp-for="@photo.FileName">
                                        <input type="hidden" asp-for="@photo.FileType">
                                        <input type="hidden" asp-for="@photo.FilePath">

                                        <button type="submit" class="btn theme_btn button_hover"><i class="fa-solid fa-download fa-lg text-white"></i> <span class="text-white font-weight-bold">Изтегли</span></button>
                                    </form>
                            
                                </div>
                            </div>
                        </div>

                    }
                }

            </div>
        </div>
    </div>
}

<div class="testimony-container-wrap">
    <div class="container testimony-container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                @if (Model?.PhotoShootPhotos?.Count() == 0)
                {
                    <h1 class="tesimonail-container-title">Ще се радваме да чуем Вашето мнение</h1>
                }
                else
                {
                    <h1 class="tesimonail-container-title">Какво мислите за снимките?</h1>
                }
            </div>
        </div>
        <partial name="_CreateTestimony" model="new Testimony()"></partial>
    </div>
</div>

<style>
    .photos-section-wrap{
        width: 100%;
        height: 100%;
        background: #ededed;
    }

    .col-image button {
        border: none;
        width: 180px;
    }

    .col-image img {
        width: 180px;
    }

    .photos-section-wrap{
        margin-top: 200px;
        padding: 50px 0;
    }

    .testimony-container-wrap{
        width: 100%;
        height: 100%;
        background: #333232;
        color: #fff;
    }

    .testimony-container{
        margin-top: 200px;
        margin-bottom: 200px;
        padding: 50px 80px;
    }

    @@media only screen and (max-width: 768px) {
        .photoshoot-details-top{
            font-size: 1.1rem;
        }

        .photos-section-wrap{
            margin-top: 50px;
        }

        .testimony-container {
            margin-top: 0;
            margin-bottom: 0;
        }

        .tesimonail-container-title{
            font-size: 2rem;
        }
    }
</style>
