@model CreatePhotoShootDTO

@{
    ViewData["Title"] = "Резервация";
    Dictionary<DateOnly, IEnumerable<TimeSlot>> calendar = Model.Calendar ?? new();
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Резервация</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">Резервация</li>
            </ol>
        </div>
    </div>
</section>
<form asp-action="Reserve" method="post" id="booking-form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="IdentityUserId" />
    <input type="hidden" asp-for="ReservationDate" />
    <input type="hidden" asp-for="ReservationTime" />
    <input type="hidden" asp-for="SelectedSettlementId" />
    <input type="hidden" asp-for="IsPlaceSelected" />
    <input type="hidden" asp-for="IsPlace" />
    <input type="hidden" asp-for="PlaceId" />
    <input type="hidden" asp-for="FuelPrice" />
    <input type="hidden" id="RegionId" />
    <div class="hotel_booking_area position">
        <div class="container products-info-container" style="display:none">
            <div class="row">
                <div class="col-12 mt-5">
                    <p class="products-info">
                        Продукти от порядъка на дрехи, обувки, аксесоари за смарт усройсва и други 
                        дребни предмети можете да изпратите на адрес [гр. Асеновград, ул. „Генерал Колев“ 22] или до 
                        офис на куриер (Еконт „Капитан Райчо (зад болницата)“ / Speedy офис „Зъбчето“),
                        като от формата за резервация изберете опцията „малък продукт“. 
                    </p>
                    <p class="products-info">
                        За големи продукти, които не подлежат на преместване или не могат да бъдат изпратени по куриер,
                        използвайте формата за резервация, като изберете удобен за Вас ден и час, в който да заснемем продукта.
                    </p>
                </div>
            </div>
        </div>
        <div class="container booking-container">
            <div class="hotel_booking_table">
                <div class="col-md-12">
                    <div class="boking_table">
                        <div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group border border-warning" id="photoshoot-type-wrap">
                                            <select asp-for="PhotoShootType" asp-items="@(Html.GetEnumSelectList<PhotoShootType>().OrderBy(ph => ph.Text))" class="wide">
                                                <option value="">Тип фотосесия</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" id="photoshoot-description">
                                <div class="book_tabel_item">
                                    <a asp-action="Pricing" asp-controller="StaticContent" target="_blank" class="btn btn-link btn-sm">Подробности</a>
                                </div>
                            </div>
                            <div class="col-md-4" id="small-product-wrap" style="display:none">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <input asp-for="IsSmallProduct" />
                                        <label id="SmallProductLabel" asp-for="IsSmallProduct"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12" id="photo-shoot-type-description">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group border" id="photoshoot-description-wrap">
                                            <textarea asp-for="PhotoShootTypeDescription" cols="20" rows="6" class="form-control photoshoot-other-description" placeholder="Описание на фотосесия"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>Вашите данни</h4>
                            </div>
                        </div>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input asp-for="PersonEmail" class="form-control" placeholder="Имейл" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input asp-for="PersonFirstName" class="form-control" placeholder="Име" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input asp-for="PersonLastName" class="form-control" placeholder="Фамилия" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <input asp-for="PersonPhone" class="form-control" placeholder="Телефон" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 location-container">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <h4>Избор на локация</h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class="input-group" id="region-wrap">
                                                <select id="Region" asp-items="@(new SelectList(Model.ServicedRegions, "Id", "Name"))" class="wide">
                                                    <option value="">Област</option>
                                                </select>
                                            </div>
                                            <div class="input-group user-place place-addition-info" style="display:none">
                                                <input asp-for="UserPlace" class="form-control" placeholder="Място" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group" style="margin-bottom: 12px;">
                                            <div class="settlement" style="display:none">
                                                <input type="hidden" id="SettlementId" />
                                                <select id="Settlement" class="form-control"></select>
                                            </div>
                                            <div class="popular-places" style="display:none">
                                                <select id="PopularPlaces" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class="input-group google-maps-link place-addition-info" style="display:none">
                                                <input asp-for="GoogleMapsLink" class="form-control" placeholder="Линк към Google Maps" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input style="display:none" type="button" id="hidePopularPlaces" class="btn btn-secondary btn-sm" value="Населени места" disabled/>
                                                <input style="display:none" type="button" id="showPopularPlaces" class="btn btn-dark btn-sm" value="Популярни места" />
                                                <!--<a asp-action="All" asp-controller="Place" style="display:none" class="btn btn-light" id="allPopularPlaces">Всички популярни места</a>-->
                                            </div>
                                            <div class="input-group">
                                                <div class="is-decided-by-us" style="display:none">
                                                    <input asp-for="IsDecidedByUs" />
                                                    <label id="IsDecidedByUsLabel" asp-for="IsDecidedByUs"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-fuel-price" style="display:none">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <h6 id="priceDesciption">Тъй като избраното населено място се намира на разстояние по-голямо от 20 км от нас, това ще ви струва допълнителни <b><i><span id="price"></span></i></b>лв. (Такса пътни @(DefaultValue.TripTax).00 лв. + @(DefaultValue.FuelPriceByKilometer) лв. за всеки километър)</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-decided-by-us-info" style="display:none">
                                <div class="col-12">
                                    <h4>Ще изберем подходящо място в околността на населеното място, което сте избрали.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="dates-container" style="display:none">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <h4>Дата и час</h4>
                                </div>
                            </div>
                            <div class="row mt-3 ml-2 row-legend">
                                <div clas="col-2">
                                    <button class="btn btn-secondary btn-sm btn-legend" disabled>Заети</button>
                                </div>
                                <div clas="col-2">
                                    <button class="btn btn-warning text-white btn-sm btn-legend" disabled>Свободни</button>
                                </div>
                            </div>
                            <div class="row mt-2" id="row-dates-weather" style="display:none;">
                                <div class="col-12 scrollmenu" id="dates-list">
                                    <div id="date-buttons-slider">
                                        @foreach (KeyValuePair<DateOnly, IEnumerable<TimeSlot>> calendarKVP in calendar)
                                        {
                                            <div class="card card-weather text-center btn-date btn-date-simple text-white @(calendarKVP.Value.FirstOrDefault().IsAvailable ? "bg-warning" : "bg-secondary")" id="date-button-simple">
                                                <div class="card-header card-header-date">
                                                    <h4 class="date-text">@calendarKVP.Key.ToString("dd.MM")</h4>
                                                </div>
                                                <div class="card-body card-body-weather text-center" style="background: @(calendarKVP.Value.FirstOrDefault().IsAvailable ? Html.Raw("#f7e279") : Html.Raw("#929ea8"))">
                                                    @foreach (TimeSlot slot in calendarKVP.Value)
                                                    {
                                                        <button type="button" class="btn @(slot.IsAvailable ? "btn-warning" : "btn-secondary") text-white btn-sm my-1 btn-time-slot" id="time-slot">
                                                            @(slot.Time.Hour < 10 ? $"0{slot.Time.Hour}" : slot.Time.Hour):@(slot.Time.Minute == 0 ? "00" : "30")
                                                        </button>
                                                    }
                                                    <hr />
                                                    <p class="temperatureCurrent weather-info-text"></p>
                                                    <p class="icon weather-info-text"></p>
                                                    <p class="forecastText">Нямаме информация за времето</p>
                                                    <p class="precipitation weather-info-text"></p>
                                                </div>
                                                <div class="card-footer">
                                                    <span>@(calendarKVP.Value.FirstOrDefault().IsAvailable ? Html.Raw("<i class=\"fa-solid fa-check fa-lg\"></i>") : Html.Raw("<i class=\"fa-solid fa-xmark fa-lg\"></i>"))</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            
                            <div class="gdpr-container mt-4">
                                <div class="transport-container">
                                    <div class="row mt-5">
                                        <div class="col-12">
                                            <div class="book_tabel_item">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input asp-for="TransportCustomer" class="form-check-input" />
                                                        <label asp-for="TransportCustomer" id="TransportCustomerLabel" class="form-check-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-12 col-pickup-address" style="display:none">
                                            <div class="book_tabel_item">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input asp-for="PickUpAddress" class="form-control" placeholder="Адрес, от който да ви вземем" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row mt-5">
                                    <h4>GDPR</h4>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span class="alert-text text-muted">*С избирането на опцията „<b>Не желая снимките ми да се качват тук</b>“ отказвате снимките Ви да бъдат качени на уебсайта на DreamPix. Ще ги получите по метода, който сте избрали.</span>
                                    </div>
                                </div>
                                <div class="row mt-1 mb-5">
                                    <div class="col-12">
                                        <span class="alert-text text-muted">*С натискането на бутона „<b>Резервирай</b>“ се съгласявате да изполваме въведетите от Вас данни. Те ще бъдат използвани единствено за целите на работния процес.</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="DoNotUploadPhotos" class="form-check-input" />
                                                    <label asp-for="DoNotUploadPhotos" id="DoNotUploadPhotosLabel" class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5 row delivery-method" style="display:none">
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group border" id="photos-delivery-wrap">
                                                    <select asp-for="PhotoDeliveryMethod" asp-items="@(Html.GetEnumSelectList<PhotoDeliveryMethod>())" class="wide">
                                                        <option value="">Начин на получаване на снимките</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-photo-delivery" style="display:none">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="PhotoDeliveryAddress" class="form-control" placeholder="Адрес или офис на Еконт"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-price-bottom bg-warning fixed-bottom py-3">
        <div class="col-8 col-lg-10">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th><h5>ФОТОСЕСИЯ</h5></th>
                        <th><h5>ОБЛАСТ</h5></th>
                        <th><h5>ЦЕНА</h5></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4 class="text-dark" id="photoshootTypeBottom">N/A</h4></td>
                        <td><h4 class="text-dark" id="regionBottom">Изберете</h4></td>
                        <td><h4 class="text-dark" id="total-price">N/A</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4 col-md-2 mt-3">
            <button type="submit" class="btn btn-light" id="btn-book" disabled>РЕЗЕРВИРАЙ</button>
        </div>
    </div>
    
</form>


 

<style>
    #hidePopularPlaces, #showPopularPlaces {
        border-radius: 0;
    }
    .form-check-input{
        margin-left: unset;
    }
    .table{
        margin-bottom: unset;
    }
    .table td, table th, table tr{
        border: none !important;
        padding: 0 !important;
    }

    .table tbody tr td h4{
        line-height: 1.2em !important;
    }

    .selectize-control{
        border-radius: 0;
        border: 1px solid #000;
    }

    .selectize-input, .selectize-input.full, .selectize-input.not-full {
        background: none;
        background-image: none;
        padding: 0;
        border: none;
    }

    .popular-places .nice-select{
        display: none;
    }

    .settlement .nice-select{
        display: none;
    }
    .hotel_booking_table{
        background: none;
    }
    .row-price-bottom{
        color: #fff;
        border-radius: 5px;
        box-shadow: 1px 4px 8px #000;
    }

    .left-column {
        height: 100vh;
        overflow-y: auto;
        border-right: 1px solid #ededed;
        padding-right: 30px;
    }

    .right-column {
        height: 100vh;
        overflow-y: auto;
    }
    .required:after {
        content: " *";
        color: red;
    }

    .btn-legend{
        width: 100px;
        border-radius: 50px !important;
        margin-left: 3px;
    }

    #dates-list {
        overflow: scroll;
    }

    #date-buttons-slider {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        padding: 10px;
    }

    #date-button-simple, .btn-date-weather {
        flex: 0 0 auto;
        background: #f2f2f2;
        color: #1a1a1a;
        margin-right: 10px;
        border: none;
        border-radius: 10px;
        transform: unset;
        transition: .4s;
    }

    #date-button-simple {
        min-height: 100px;
    }
    
    .btn-date-weather {
        max-width: 300px;
        min-height: 300px;
    }

    #date-button-simple:hover, .btn-date-weather:hover {
        transform: scale(1.02);
        transition: .4s;
    }

    .hours-container{
        margin: 80px 0;
    }

    .hours-container button {
        margin: 5px;
    }
    
    .card{
        width: 148px;
        border-radius: 0 !important;
    }

    .btn-date-weather .card-body .icon {
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 80px;
        margin: 10px auto;
    }


    .ui-autocomplete{
        font-family: "Helvetica";
        border-radius: 2px;
        border: none;
        background: #fff;
        transition: .2s;
        box-shadow: 0px 0px 10px -2px #394859;
        padding: 5px;

    }

    .ui-menu-item-wrapper{
        color: #1a1a1a;
        font-weight: normal;
    }

    .ui-menu-item-wrapper:hover{
        font-weight: normal;
        color: #1a1a1a;
        background: #f7f7f7;
        border:none;
    }

    #UploadPhotos{
        transform: scale(1.2);
        margin-right: 5px;
    }

    .alert-text{
        font-style: italic;
    }

    #IsDecidedByUsLabel, #DoNotUploadPhotosLabel, #TransportCustomerLabel, #SmallProductLabel {
        font-size: 1.3rem;
        margin-left: 5px;
        margin-bottom: 0;
    }

    .is-decided-by-us{
        margin-top: 10px;
    }

    #DoNotUploadPhotos, #IsDecidedByUs, #IsSmallProduct, #TransportCustomer {
        transform: scale(1.3);
    }

    .weather-info-text{
        margin: 0;
        padding: 0;
        line-height: 15px;
    }


    .products-info{
        font-size: 1.1rem;
        line-height: 25px;
    }

    #btn-book{
        border-radius: 0 !important;
        background: #fff;
        color: #000;
        transition: 0.4s;
    }

    #btn-book:hover {
        background: #000;
        color: #fff;
        transition: .4s;
    }
</style>

<script>
    function checkInputsEmpty(event) {
        if ($("#PhotoShootType").val() == ""){
            event.preventDefault();
            $("#photoshoot-type-wrap").addClass("border-danger");
            $([document.documentElement, document.body]).animate({
                scrollTop: (($("#photoshoot-type-wrap").offset().top) - 250) 
            }, 1000);
            
            return false;
        }

        if ($("#Region").val() == "") {
            event.preventDefault();
            $("#region-wrap").addClass("border-danger");
            $([document.documentElement, document.body]).animate({
                scrollTop: (($("#region-wrap").offset().top) - 250)
            }, 1000);

            return false;
        }

        if ($(".settlement:visible").length > 0 && $("#SelectedSettlementId").val() == "") {
            event.preventDefault();
            $("#settlement-validation-message").css("display", "block");
            $(".selectize-control").addClass("border border-danger");
            $([document.documentElement, document.body]).animate({
                scrollTop: (($(".settlement").offset().top) - 250)
            }, 500);

            return false;
        }
        else if ($(".popular-places:visible").length > 0 && $("#SelectedSettlementId").val() == "") {
            event.preventDefault();
            $("#popular-place-validation-message").css("display", "block");
            $(".selectize-control").addClass("border border-danger");
            $([document.documentElement, document.body]).animate({
                scrollTop: (($(".popular-places").offset().top) - 250)
            }, 500);

            return false;
        }

        if ($("#UserPlace:visible").length > 0 && $("#UserPlace").val() == "") {
            event.preventDefault();
            $("#UserPlace").addClass("border border-danger");
            $([document.documentElement, document.body]).animate({
                scrollTop: (($("#UserPlace").offset().top) - 250)
            }, 500);

            return false;
        }

        if ($("#PhotoDeliveryMethod").val() == "" && $("#DoNotUploadPhotos").is(":checked")) {
            event.preventDefault();
            $("#photos-delivery-wrap").addClass('border border-danger');
            $([document.documentElement, document.body]).animate({
                scrollTop: (($("#photos-delivery-wrap").offset().top) - 250)
            }, 500);

            return false;
        }

        if ($("#PhotoDeliveryAddress").val() == "" && 
                ($('#PhotoDeliveryMethod').find(":selected").val() == 2 || $('#PhotoDeliveryMethod').find(":selected").val() == 3)) {
            event.preventDefault();
            $("#PhotoDeliveryAddress").addClass('border border-danger');
            $([document.documentElement, document.body]).animate({
                scrollTop: (($("#PhotoDeliveryAddress").offset().top) - 250)
            }, 500);

            return false;
        }

        if ($("#PickUpAddress").val() == "" && $('#TransportCustomer').is(":checked")) {
            event.preventDefault();
            $("#PickUpAddress").addClass('border border-danger');
            $([document.documentElement, document.body]).animate({
                scrollTop: (($("#PickUpAddress").offset().top) - 250)
            }, 500);

            return false;
        }
    }
     
    function checkDateNotSelected(event) {
        console.log('form submited');
        if ($("#ReservationDate").val() == ""){
            event.preventDefault();
            alert("Изберете дата");
            return false;
        }
        if ($("#ReservationTime").val() == "") {
            event.preventDefault();
            alert("Изберете част");
            return false;
        }
    }

    $(document).ready(function(){
        let lastClickedDateBtn = null;
        let lastClickedTimeSlotBtn = null;

        //reset date and time
        $("#ReservationDate").val("");
        $("#ReservationTime").val("");

        //check photoshoot type and price on page load
        $("#photoshootTypeBottom").html($('#PhotoShootType').find(":selected").text());
        updatePrice();

        $("#booking-form").submit(function (event) {
            checkInputsEmpty(event);
            checkDateNotSelected(event);
        });

        $("#IsSmallProduct").change(function () {
            if (this.checked) {
                console.log('checked');
                $(".location-container").css("display", "none");
                $(".transport-container").css("display", "none");
            }
            else {
                console.log('unchecked');
                $(".location-container").css("display", "block");
                $(".transport-container").css("display", "block");
            }
        });

        $("#PhotoDeliveryMethod").change(function () {
            if($("#PhotoDeliveryMethod").val() == ""){
                console.log('$("#PhotoDeliveryMethod").val() == "" is empty' );
                $("#photos-delivery-wrap").addClass('border border-danger');
            }
            else{
                $("#photos-delivery-wrap").removeClass('border border-warning');
            }
            //2 is USB, 3 is CD 
            if ($('#PhotoDeliveryMethod').find(":selected").val() == 2 ||
                $('#PhotoDeliveryMethod').find(":selected").val() == 3) {
                $(".col-photo-delivery").css("display", "block");
                $("#PhotoDeliveryAddress").addClass('border border-danger');
            }
            else{
                $(".col-photo-delivery").css("display", "none");
                $("#PhotoDeliveryAddress").val('');
            }
        });

        $("#PhotoDeliveryAddress").change(function () {
            if ($("#PhotoDeliveryAddress").val() == ""){
                $("#PhotoDeliveryAddress").addClass('border border-danger');
            }
            else{
                $("#PhotoDeliveryAddress").removeClass('border border-danger');
            }
        });

        $("#DoNotUploadPhotos").change(function () {
            if (this.checked) {
                $(".delivery-method").css("display", "block");
            }
            else{

                $(".delivery-method").css("display", "none");
                $("#PhotoDeliveryMethod").val('');
            }
        });

        $("#TransportCustomer").change(function () {
            if (this.checked) {
                $(".col-pickup-address").css("display", "block");
                $("#PickUpAddress").addClass('border border-danger');
            }
            else{

                $(".col-pickup-address").css("display", "none");
                $("#PickUpAddress").val('');
            }
        });

        $("#PickUpAddress").change(function () {
            if ($("#PickUpAddress").val() == "") {
                $("#PickUpAddress").addClass('border border-danger');
            }
            else {
                $("#PickUpAddress").removeClass('border border-danger');
            }
        });

        $("#IsDecidedByUs").change(function () {
            if (this.checked) {

                $("#Settlement").val('');
                $(".row-decided-by-us-info").css("display", "block");
                $(".row-toggle-places").css("display", "none");
                //$(".decided-by-us-settlement-info").css("display", "unset");
                //$("#row-dates-no-weather").css("display", "flex");
                $(".dates-container").css("display", "block");
                $("#row-dates-weather").css("display", "flex");
                //$(".row-dates-weather-remaining").css("display", "none");
                $(".place-addition-info").css("display", "none");

                
                $("#hidePopularPlaces").click();
                $("#showPopularPlaces").css("display", "none");
            }
            else {
                $(".row-decided-by-us-info").css("display", "none");
                $(".row-toggle-places").css("display", "block");
                //$(".decided-by-us-settlement-info").css("display", "none");
                //$("#row-dates-no-weather").css("display", "none");
                //$("#row-dates-weather").css("display", "flex");
                //$(".row-dates-weather-remaining").css("display", "flex");
                $(".place-addition-info").css("display", "flex");

                $("#hidePopularPlaces").click();
            }

            updatePrice();
        });

        $("#Region").change(function () {
            $("#showPopularPlaces").css("display", "block");
            $("#hidePopularPlaces").css("display", "block");

            if($("#Region").val() == ""){
                $("#region-wrap").addClass("border border-danger");
            }
            else{
                $("#region-wrap").removeClass("border border-danger");
            }
            updatePrice();
            getSettlementsByRegion($("#Region option:selected").text());
            $(".price-container").css("display", "block");
            $("#PopularPlace").val('');
            $("#Settlement").val('');
           $("#RegionId").val($(this).val());
            
            if (!($("#showPopularPlaces").is(":visible")) && !($("#hidePopularPlaces").is(":visible"))) {
                getSettlementsByRegion($("#Region option:selected").text());
            }

            else if (!($("#showPopularPlaces").is(":visible")) && ($("#hidePopularPlaces").is(":visible"))) {
                getPopularPlacesByRegion($("#Region option:selected").text());
            }
            else {
                getSettlementsByRegion($("#Region option:selected").text());
            }
            
            $("#regionBottom").text($('#Region').find(":selected").text());
        });

        $("#UserPlace").change(function () {
            if ($("#UserPlace").val() == "") {
                $("#UserPlace").addClass("border border-danger");
            }
            else {
                $("#UserPlace").removeClass("border border-danger");
            }
        });

        $("#PersonLastName").change(function () {
            if ($("#PersonLastName").val() == "") {
                $("#PersonLastame").addClass("border border-danger");
            }
            else {
                $("#PersonLastName").removeClass("border border-danger");
            }
        });

        $("#PersonLastName").change(function () {
            if ($("#PersonLastName").val() == "") {
                $("#PersonLastName").addClass("border border-danger");
            }
            else {
                $("#PersonLastName").removeClass("border border-danger");
            }
        });
        
        $("#PersonLastName").change(function () {
            if ($("#PersonLastName").val() == "") {
                $("#PersonLastame").addClass("border border-danger");
            }
            else {
                $("#PersonLastName").removeClass("border border-danger");
            }
        });

        $("#PersonPhone").change(function () {
            if ($("#PersonPhone").val() == "") {
                $("#PersonPhone").addClass("border border-danger");
            }
            else {
                $("#PersonPhone").removeClass("border border-danger");
            }
        });
        
        /*$("#Settlement").change(function () {
            updatePrice();
            getForecast($(this).val(), true);
            //not used for now
            //$("#SettlementName").val($(this).val());
            
            $("#row-dates-weather").css("display", "flex");
            
            if ($("#IsDecidedByUs").prop('checked') == false) {
                $(".place-addition-info").css("display", "block");
                $("#row-dates-weather").css("transition", ".4s");
                //$(".row-dates-weather-remaining").css("transition", ".4s");
                //$(".row-dates-weather-remaining").css("display", "flex");
            }
        });*/

        $(".btn-date").click(function () {
            //reset the styles for the last clicked button
            //bg-success is set as default because style is change for available buttons only
            if (lastClickedDateBtn != null && lastClickedDateBtn.hasClass('bg-dark')) {
                lastClickedDateBtn.removeClass('bg-dark');
                lastClickedDateBtn.addClass('bg-warning');
            }

            if ($(this).hasClass('bg-warning')){
                $(this).removeClass("bg-warning");
                $(this).addClass("bg-dark");
            }
            
            //set the currect clicked button as last clicked
            lastClickedDateBtn = $(this);

            showTimeSlots($(this).find(".card-header h4").html());
        });

        $(document).on("click", ".btn-date", function () {
            $(".reservation-time").css("display", "block");
            
        });

        $(document).on("click", ".btn-time-slot", function (event) {
            event.preventDefault();

            //reset the styles for the last clicked button
            //bg-warning is set as default because style is changed for available buttons only
            if (lastClickedTimeSlotBtn != null && !lastClickedTimeSlotBtn.hasClass("btn-secondary")) {
                lastClickedTimeSlotBtn.removeClass('btn-dark');
                lastClickedTimeSlotBtn.addClass('btn-warning');
            }

            //set the currect clicked button as last clicked
            lastClickedTimeSlotBtn = $(this);

            if ($(this).hasClass("btn-warning")) {
                $("#ReservationTime").val($(this).text());
                $("#btn-book").prop("disabled", false);
                $(this).removeClass('btn-warning');
                $(this).addClass('btn-dark');
            }
            
            if($(this).hasClass("btn-secondary")) {
                alert("Избраният час е зает");
                $("#btn-book").prop("disabled", true);
            }

            

            $(".book-container").css("display", "block");
        });

        setDate();
        
        //hide description on page load
        $("#photo-shoot-type-description").css("display", "none");

        $("#PhotoShootType").change(function () {
            if ($("#PhotoShootType").val() == "") {
                $("#photoshoot-type-wrap").removeClass("border-warning");
                $("#photoshoot-type-wrap").addClass("border-danger");
            }
            else {
                $("#photoshoot-type-wrap").removeClass("border-danger");
                $("#photoshoot-type-wrap").addClass("border-warning");
            }

            let option = $('#PhotoShootType').find(":selected").val();
            
            if(option == 11){
                $(".products-info-container").css("display", "block");
                $("#small-product-wrap").css("display", "block");
                $([document.documentElement, document.body]).animate({
                    scrollTop: (($(".products-info-container").offset().top) - 250)
                }, 1000);
            }
            else{
                $(".products-info-container").css("display" , "none");
                $("#small-product-wrap").css("display", "none");
            }

            //10 is {Other}
            if (option == 10) {
                $("#photo-shoot-type-description").css("display", "block");
                $("#PhotoShootTypeDescription").attr("required", "required");
            }
            else {
                $("#PhotoShootTypeDescription").removeAttr("required");
                $("#photo-shoot-type-description").css("display", "none");
            }
            //switch to settlements when photoshoot type 7 is selected
            if(option == 7){
                $(".settlement").css("display", "flex");
                $(".popular-places").css("display", "none");
            }

            

            checkPhotoShootTypeDescriptionEmpty();
            updatePrice();

            $("#photoshootTypeBottom").html($('#PhotoShootType').find(":selected").text());
        });

        $("#showPopularPlaces").click(function(){
            $("#showPopularPlaces").prop("disabled", true);
            $("#hidePopularPlaces").prop("disabled", false);

            $("#showPopularPlaces").css("display", "block");
            $("#hidePopularPlaces").css("display", "block");

            $("#showPopularPlaces").removeClass("btn-dark");
            $("#showPopularPlaces").addClass("btn-secondary");

            $("#hidePopularPlaces").removeClass("btn-secondary");
            $("#hidePopularPlaces").addClass("btn-dark");

            $("#allPopularPlaces").css("display", "inline-block");

            if ($(".place-addition-info").is(":visible")) {
                $(".place-addition-info").css("display", "none");
                $("#UserPlace").val('');
                $("#GoogleMapsLink").val('');
            }
            getPopularPlacesByRegion($("#Region option:selected").text());
        });

        $("#hidePopularPlaces").click(function () {
            $("#showPopularPlaces").prop("disabled", false);
            $("#hidePopularPlaces").prop("disabled", true);

            $("#showPopularPlaces").css("display", "block");
            $("#hidePopularPlaces").css("display", "block");

            $("#hidePopularPlaces").removeClass("btn-dark");
            $("#hidePopularPlaces").addClass("btn-secondary");

            $("#showPopularPlaces").removeClass("btn-secondary");
            $("#showPopularPlaces").addClass("btn-dark");

            $("#allPopularPlaces").css("display", "none");

            getSettlementsByRegion($("#Region option:selected").text());
        });
        checkBookedDates();
    });

    function setDate(){
         $(".btn-date").click(function () {
            let currentDate = new Date();
            let dateText = $(this).find(".date-text").text();
            let selectedDay = formatSelectedDate(dateText);
            $('input[name="ReservationDate"]').val(selectedDay);
        });
    }

    function formatSelectedDate(selectedDate) {
        let selectedDateSplit = selectedDate.split('.');
        return `${new Date().getUTCFullYear()}-${selectedDateSplit[1]}-${selectedDateSplit[0]}`;
    }

    function formatToBulgarianDate(selectedDate) {
        let selectedDateSplit = selectedDate.split('-');
        return `${selectedDateSplit[0]}.${selectedDateSplit[1]}.${selectedDateSplit[2]}`;
    }
    
    function getMonthAndDay(date) {
        let selectedDateSplit = date.split('.');
        return `${selectedDateSplit[2]}.${selectedDateSplit[1]}`;
    }

    function showTimeSlots(selectedDate){
        let selectedDateFormated = formatSelectedDate(selectedDate);
        let calendar = @Html.Raw(Json.Serialize(calendar));
        let isAvailable = false;
        let time = '';
        let timeSubstring = '';

        $('#hours-container').empty();
        $('#hours-container').css("display", "block");
        for (let i = 0; i < calendar[selectedDateFormated]?.length; i++) {
            isAvailable = calendar[selectedDateFormated][i]?.isAvailable;
            time = calendar[selectedDateFormated][i]?.time;
            timeSubstring = time.substring(0, time.length - 3);
            
            $('#hours-container').append(`<button class='btn btn-${isAvailable ? 'outline-success' : 'outline-danger'} btn-lg btn-time-slot'>${timeSubstring}</button>`);
        }
    }

    function formatTimeOnly(timeOnlyList){
        let timeOnlyListFormated = [];

        for(let i = 0; i < timeOnlyList.length; i++){
            timeOnlyListFormated.push(timeOnlyList[i].slice(0, -3))
        }

        return timeOnlyListFormated;
    }

    function checkPhotoShootTypeDescriptionEmpty(){
        let selected = $('#PhotoShootType').find(":selected").val();
        //10 is "Other"
        if (selected == 10) {
            $("#PhotoShootTypeDescription").prop("required", true);
        }
    }

    function getForecast(settlementId, isSettlement) {
        let forecastURL = isSettlement ? "@Url.Action("forecast", "Weather")" : "@Url.Action("forecastForPlace", "Weather")";
        var request = $.ajax({
            url: forecastURL,
            method: "GET",
            data: { settlementId: settlementId },
            success: function (response) {
                let json = JSON.parse(JSON.stringify(response));

                $(".card-weather").each(function (i) {
                    let cardBody = $(this).find(".card-body-weather");
                    //cardBody.find(".icon").css("background-image", `url(${json.forecast.forecastDays[i].day.condition.icon})`);
                    cardBody.find(".temperatureCurrent").text(json.forecast.forecastDays[i].day.averageTemperature != 0 ? (Math.round(json.forecast.forecastDays[i].day.maxTemperature) + 'C°') : '');
                    cardBody.find(".forecastText").text(json.forecast.forecastDays[i].day.condition.text);
                    cardBody.find(".precipitation").text('Валежи: ' + json.forecast.forecastDays[i].day.totalPrecipitation + '%');
                    i++;

                    if(i == 3){
                        return false;
                    }
                });
            },
            error: function (response) {
                console.log("error");
                console.log(response);
            }
        });
    }

    //commented because autocomolete data comes from the database now
    /*function getAutocomplete(query) {
        var request = $.ajax({
            url: "@Url.Action("autocomplete", "Weather")",
            method: "GET",
            data: { query: query },
            success: function (response) {
                $("#Settlement").autocomplete({
                    source: response.map(r => r.name)
                });
                return response;
            },
            error: function (response) {
                console.log("error");
                console.log(response);
            }
        });
    }*/

    function getPopularPlacesByRegion() {
        $(".settlement").css("display", "none");
        $(".popular-places").css("display", "flex");
        $('#PopularPlaces').selectize()[0].selectize.destroy();
        var request = $.ajax({
            url: "@Url.Action("popularPlacesByRegion", "Place")",
            data: { "regionId": $("#Region").find(":selected").val() },
            method: "GET",
            success: function (response) {
                let json = JSON.parse(JSON.stringify(response));
                $("#PopularPlaces").selectize({
                    respect_word_boundaries: false,
                    plugins: ["restore_on_backspace", "clear_button"],
                    delimiter: " - ",
                    persist: false,
                    maxItems: 1,
                    valueField: "id",
                    labelField: "name",
                    searchField: ["name"],
                    options: response,
                    onChange: function (value) {
                        json.find
                        updatePrice();
                        getForecast(value, false);
                        $(".dates-container").css("display", "block");
                        $("#row-dates-weather").css("display", "flex");
                        $("#IsPlace").val(true);
                        $("#PlaceId").val(value);
                        $("#SelectedSettlementId").val((findElementById(json, value)).cityId);
                        $("#IsPlaceSelected").val(true);
                    }
                });
            }
        });
    }

    function findElementById(array, id){
        for (let i = 0; i < array.length; i++){
            if(array[i].id == id){
                return array[i];
            }
        }
    }

    function getSettlementsByRegion(region) {
        $(".settlement").css("display", "flex");
        $(".popular-places").css("display", "none");
        //else destroy settlements list
        if (region != '') {
            //destroy Selectize before repopulating the select list with new data
            $('#Settlement').selectize()[0].selectize.destroy();
            $.ajax({
                url: "@Url.Action("settlementsByRegion", "Settlement")",
                method: "GET",
                data: { region: region },
                success: function (response) {
                    $("#Settlement").selectize({
                        respect_word_boundaries: false,
                        plugins: ["restore_on_backspace", "clear_button"],
                        delimiter: " - ",
                        persist: false,
                        maxItems: 1,
                        valueField: "id",
                        labelField: "name",
                        searchField: ["name"],
                        options: response,
                        onChange: function (value) {
                            updatePrice();
                            getForecast(value, true);
                            $(".is-decided-by-us").css("display", "flex");
                            $("#IsPlace").val(false);
                            $("#SelectedSettlementId").val(value);
                            //not used for now
                            //$("#SettlementName").val($(this).val());

                            if ($("#IsDecidedByUs").prop('checked') == false) {
                                $(".place-addition-info").css("display", "flex");
                                $("#UserPlace").addClass("border border-danger");
                             }

                            if($("#Settlement").val() != ''){
                                $(".selectize-control").removeClass("border border-danger");
                                $("#settlement-validation-message").css("display", "none");
                            }
                            $("#row-dates-weather").css("transition", ".4s");
                            $("#row-dates-weather").css("display", "flex");
                            $(".dates-container").css("display", "block");
                        }
                    });
                },
                error: function (response) {
                    console.log("error");
                    console.log(response);
                },
            });
        }
        else {
            //destroy selectize if no region is selected
            $('#Settlement').selectize()[0].selectize.destroy();
        }
        
    }
    
    function calculatePriceByDistance(settlement, isRegion = false) {
        let regionId = $("#Region").find(":selected").val();
        
        var request = $.ajax({
            contentType: 'application/json',
            url: "@Url.Action("fuelPrice", "Calculations")",
            traditional: true,
            method: "GET",
            data: { 'regionId': regionId ?? 0 },
            success: function (response) {
                if(response > 0){
                    $(".col-fuel-price").css("display", "flex");
                }
                else{
                    $(".col-fuel-price").css("display", "none");
                }
                $("#price").text(response);
                let photoshootType = $("#PhotoShootType").find(":selected").val();
                calculateTotalPrice(photoshootType, response);
            },
            error: function (response) {
                console.log("error");
                console.log(response);
            }
        });
    }

    function calculateTotalPrice(photoshootType, fuelPrice){
        var request = $.ajax({
            contentType: 'application/json',
            url: "@Url.Action("photoshootPrice", "Calculations")",
            traditional: true,
            method: "GET",
            data: { 'photoshootType': photoshootType, 'fuelPrice': fuelPrice },
            success: function (response) {
                if ($("#PhotoShootType").find(":selected").val() == 7 || $("#PhotoShootType").find(":selected").val() == 10) {
                    $("#total-price").html("По договаряне");
                }
                else{
                    $("#total-price").html(response + ' лв');
                }

                $(".row-total-price").css("display", "block");
            },
            error: function (response) {
                console.log("error");
                console.log(response);
            }
        });
    }

    function updatePrice(){
        $("#total-price").html('0 лв');
        
        if ($("#IsDecidedByUs").is(":checked")) {
            calculatePriceByDistance($("#Region option:selected").text(), true);
        }
        else{
            calculatePriceByDistance($("#Region option:selected").text(), false);

        }
    }

    function checkBookedDates() {
        let calendar = @Html.Raw(Json.Serialize(calendar));
        Object.keys(calendar).forEach(value => {
            let monthAndDay = getMonthAndDay(formatToBulgarianDate(value));
            
            if (monthAndDay) {

            }
        });
        
    }

</script>