@model IEnumerable<Announcement>

<div class="container container-announcement">
    <div class="row">
        <div class="col-4">
            <a asp-action="CreateAnnouncement" asp-controller="Administration" class="btn btn-warning text-white">Create</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>Created</th>
                        <th colspan="2">Control</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Announcement announcement in Model)
                    {
                        <tr>
                            <td>@announcement.Content</td>
                            <td>@announcement.CreatedOn.ToString("dd.MM.yyyy")</td>
                            
                                <td>
                                @if (announcement.IsActive)
                                {
                                    <a asp-action="ManageAnnouncementsVisibility" asp-controller="Administration" asp-route-id="@announcement.Id" class="btn btn-danger">Deactivate</a>
                                }
                                else
                                {
                                    <a asp-action="ManageAnnouncementsVisibility" asp-controller="Administration" asp-route-id="@announcement.Id" class="btn btn-success text-white">Activate</a>
                                }
                                <a asp-action="UpdateAnnouncement" asp-controller="Administration" asp-route-id="@announcement.Id" class="btn btn-info text-white">Update</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .container-announcement{
        margin-top: 150px;
    }
</style>