@model ManagePhotoshootDTO

@{
    ViewData["Title"] = "Управление на фотосесия";
}

<a asp-action="UpdatePhotoshoot" asp-controller="Administration" asp-route-id="@Model.Id">Update</a>

<div class="container container-manage-photoshoot">
    <div class="row text-white @(Model.Status == PhotoshootStatus.Completed ? "bg-success" : "bg-warning")">
        <div class="col-12 text-center">
            <h2>@ViewData["Title"]</h2>
            <h4>@Model.Id</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4 text-center">
            <a asp-action="UpdateFiles" asp-route-id="@Model.Id" class="btn btn-secondary">Update Photos</a>
        </div>
    </div>
    <hr />
    <div class="row my-5">
        <div class="col-4 mx-auto text-center">
            <h3 class="text-warning"><i class="fa-solid fa-camera fa-lg"></i></h3>
            <h5>@(Model.PhotoShootType.GetAttribute<DisplayAttribute>().Name)</h5>
        </div>
        <div class="col-4 mx-auto text-center">
            <h3 class="text-warning"><i class="fa-solid fa-calendar-days fa-lg"></i></h3>
            <h5>@Model.ReservationDate.ToString("dd.MM.yyyy") г. @Model.ReservationDate.ToString("HH:mm") ч.</h5>
        </div>
        <div class="col-4 mx-auto text-center">
            <h3 class="text-warning"><i class="fa-solid fa-sack-dollar fa-lg"></i></h3>
            <h5>@Model.Price лв</h5>
        </div>
    </div>
    <div class="row my-5 py-3">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Създаден</th>
                        <th>Име</th>
                        <th>Имейл</th>
                        <th>Телефон</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.CreatedOn.ToString("dd.MM.yyyy") г. @Model.CreatedOn.ToString("h:mm:ss") ч.</td>
                        <td>@Model.PersonFullName</td>
                        <td>@Model.PersonEmail</td>
                        <td>@Model.PersonPhone</td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-md-4 text-center mx-auto">
            <h4>Място</h4>
            <p>@Model.City, обл. @Model.Region</p>
            <h6><i class="fa-solid fa-location-dot fa-lg"></i> @Model?.Place</h6>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0 text-center mx-auto">
            <h4>Транспорт</h4>
            @if (Model!.Transport)
            {
                <p>Да</p>
                <h6><i class="fa-solid fa-location-dot fa-lg"></i> @Model.PickUpAddress</h6>
            }
            else
            {
                <p>-</p>
                <h6>Не</h6>
            }
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0 text-center mx-auto">
            <h4>Снимки</h4>
            <p>@(Model?.PhotoDeliveryMethod?.GetAttribute<DisplayAttribute>().Name ?? "-")</p>
            @if (Model!.PhotoDeliveryMethod != PhotoDeliveryMethod.Email && Model!.PhotoDeliveryMethod != null)
            {
                <h6><i class="fa-solid fa-location-dot fa-lg"></i> @Model?.PhotoDeliveryAddress</h6>
            }
            else if(Model.PhotoDeliveryMethod == PhotoDeliveryMethod.Email)
            {
                <h6>По имейл</h6>
            }
            else
            {
                <h6>В профила</h6>
            }
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 mb-2 mx-auto">
            <hr />
            <div class="row mt-5">
                @if (Model?.Status != PhotoshootStatus.Declined)
                {
                    <div class="col-2 mx-auto text-center">
                        <h2><a asp-action="DeclinePhotoshoot" asp-route-id="@Model?.Id" class="text-danger">Decline</a></h2>
                    </div>
                }

                @if (Model?.Status != PhotoshootStatus.Cancelled)
                {
                    <div class="col-2 mx-auto text-center">
                        <h2><a asp-action="CancelPhotoshoot" asp-route-id="@Model?.Id" class="text-dark">Cancel</a></h2>
                    </div>
                }

                @if(Model?.Status != PhotoshootStatus.Completed)
                {
                    <div class="col-2 mx-auto text-center">
                        <h2><a asp-action="CompletePhotoshoot" asp-route-id="@Model?.Id" class="text-success">Complete</a></h2>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="container container-update">
    <div class="row">
        <form asp-action="UpdatePhotoShoot" asp-controller="PhotoShoot" method="POST">
            @Html.AntiForgeryToken();
            <div class="col-md-4">
                <div class="form-group">
                    <input />
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .container-manage-photoshoot{
        margin-top: 200px;
        margin-bottom: 200px;
    }
</style>
