@model ManagePhotoshootDTO

@{
    ViewData["Title"] = "Управление на фотосесия";
}

<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>@ViewData["Title"]</h1>
            <h2>@Model.Id</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4 text-center">
            <a asp-action="UpdateFiles" asp-route-id="@Model.Id" class="btn btn-secondary">Update Photos</a>
        </div>
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-12 mx-auto">
            <form asp-action="ManagePhotoshoot" method="POST">
                <input type="hidden" asp-for="Id"/>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="CreatedOn"></label>
                        <input asp-for="CreatedOn" class="form-control" readonly/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="ReservationDate"></label>
                        <input asp-for="ReservationDate" class="form-control" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="PersonPhone"></label>
                        <input asp-for="PersonPhone" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="PersonEmail"></label>
                        <input asp-for="PersonEmail" class="form-control" readonly/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="PersonFullName"></label>
                        <input asp-for="PersonFullName" class="form-control" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="PhotoShootType"></label>
                        <select asp-for="PhotoShootType" asp-items="@Html.GetEnumSelectList<PhotoShootType>()" class="form-control"></select>
                    </div>
                </div>

                @if(Model.PhotoShootType == PhotoShootType.Other)
                {
                    <div class="row">
                        <div class="col-12 form-group">
                            <label asp-for="PhotoShootTypeDescription"></label>
                            <textarea asp-for="PhotoShootTypeDescription" class="form-control"></textarea>
                        </div>
                    </div>
                }
                
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="PhotoDeliveryMethod"></label>
                        <select asp-for="PhotoDeliveryMethod" asp-items="@Html.GetEnumSelectList<PhotoDeliveryMethod>()" class="form-control"></select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-group">
                        <label asp-for="PhotoDeliveryAddress"></label>
                        <input asp-for="PhotoDeliveryAddress" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 form-group">
                        <label asp-for="UserPlace"></label>
                        <input asp-for="UserPlace" class="form-control" />
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label asp-for="GoogleMapsLink"></label>
                        <input asp-for="GoogleMapsLink" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-5">
                        <button type="submit" class="btn btn-primary btn-lg">Update</button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-md-4 col-lg-2 mx-auto text-center">
                        <a asp-action="DeclinePhotoshoot" asp-route-id="@Model.Id" class="btn btn-danger btn-lg">Decline</a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2 mx-auto text-center">
                        <a asp-action="CancelPhotoshoot" asp-route-id="@Model.Id" class="btn btn-dark btn-lg">Cancel</a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2 mx-auto text-center">
                        <a asp-action="CompletePhotoshoot" asp-route-id="@Model.Id" class="btn btn-info btn-lg">Complete</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
