@{
    ViewData["Title"] = "Цени";
}

<div class="container-xxl">
    <div class="container mt-5">
        <div class="col-lg-6 wow fadeInUp mx-auto text-center" data-wow-delay="0.5s">
            <div class="h-100">
                <p class="text-primary text-uppercase mb-2">Цени</p>
                <h1 class="display-6 mb-4">Цени и ценови пакети</h1>
                <p>Предлагаме разнообразие от цени и ценови пакети на различни типове фотосесии. В случай, че никое от нашите предложения не Ви допада, може да изберете "Друго" и да опишете Вашите нужди.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="packet">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Пакети <span class="text-primary">Индивидуална фотосесия</span></h1>
                    <hr />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Стандартен</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.PortrairPhotoShoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.IndividualPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Плюс</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.PortrairPlusPhotoShoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.IndividualPlusPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Екстра</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.PortrairExtraPhotoShoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.IndividualExtraPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Друго</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="packet mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Пакети <span class="text-primary">Семейна фотосесия</span></h1>
                    <hr />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Стандартен</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.FamilyPhotoShoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.IndividualPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Плюс</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.FamilyPlusPhotoShoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.IndividualPlusPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Екстра</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.FamilyExtraPhotoShoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.IndividualExtraPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Personal" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Друго</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="packet mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Пакети <span class="text-primary">Сватба</span></h1>
                    <hr />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Стандартен</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.WeddingPhotoshoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.WeddingPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Wedding" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Плюс</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.WeddingPlusPhotoshoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.WeddingPlusPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Wedding" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Екстра</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.WeddingExtraPhotoshoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.WeddingExtraPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Wedding" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Друго</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="packet mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Пакети <span class="text-primary">Абитуриентски бал</span></h1>
                    <hr />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Стандартен</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.PromPhotoshoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.PromPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Prom" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Плюс</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.PromPlusPhotoshoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.PromPlusPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Prom" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Екстра</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.PromExtraPhotoshoot лв</h1>
                            <hr />
                            <h5>@DefaultValue.PromExtraPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Prom" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Друго</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="packet mt-5 mb-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Пакети <span class="text-primary">Свето кръщене</span></h1>
                    <hr />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Стандартен</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.Baptism лв</h1>
                            <hr />
                            <h5>@DefaultValue.BaptismPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Baptism" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Плюс</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.BaptismPlus лв</h1>
                            <hr />
                            <h5>@DefaultValue.BaptismPlusPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Baptism" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Екстра</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.BaptismExtra лв</h1>
                            <hr />
                            <h5>@DefaultValue.BaptismExtraPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Baptism" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Друго</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="packet mt-5 mb-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Пакети <span class="text-primary">Продукт</span></h1>
                    <hr />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Стандартен</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.Product лв</h1>
                            <hr />
                            <h5>@DefaultValue.ProductPhotoshootDescription</h5>
                            <hr />
                            <p>Цената е за един продукт</p>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Product" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Атртистичен</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.ProductPlus лв</h1>
                            <hr />
                            <h5>@DefaultValue.ProductPlusPhotoshootDescription</h5>
                            <hr />
                            <p>Цената е за един продукт</p>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Product" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card card-packet">
                        <div class="card-header text-center">
                            <h3>Друго</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services my-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">Други</h1>
                    <hr />
                </div>
            </div>
            <div class="row mt-3">
                <!--<div class="col-6 col-md-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Детска фотосесия</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>200 лв</h1>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="PhotoShootType.Kids" class="btn btn-warning btn-lg text-white">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>-->
                <div class="col-6 col-md-3">
                    <div class="card other-types">
                        <div class="card-header text-center">
                            <h3>Бизнес портрет</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.BusinessPortrait лв</h1>
                            <hr />
                            <h5>@DefaultValue.BusinessPortraitPhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.BusinessPortrait" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card other-types">
                        <div class="card-header text-center">
                            <h3>Автомобил</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1>@DefaultValue.Automotive лв</h1>
                            <hr />
                            <h5>@DefaultValue.AutomotiveDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Automotive" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-6 col-md-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Имот/сграда</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">По договаряне</h1>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="PhotoShootType.Property" class="btn btn-warning btn-lg text-white">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>-->
                <div class="col-6 col-md-3">
                    <div class="card other-types">
                        <div class="card-header text-center">
                            <h3>Събитие</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card other-types">
                        <div class="card-header text-center">
                            <h3>Друго</h3>
                        </div>
                        <div class="card-body text-center">
                            <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                            <hr />
                            <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .other-types{
        min-height: 300px;
    }

    hr{
        margin-top: 0;
        padding-top: 0;
    }

    .card{
        border-radius: 0 !important;
    }

    .card-packet{
        min-height: 380px;
    }

    .card .negotiation{
        font-size:1.5rem;
    }

    @@media only screen and (max-width: 768px) {
        .card{
            min-height: 280px;
            margin-bottom: 25px;
        }

        .card-header h3 {
            font-size: 1.2rem;
        }

        .card-body h1 {
            font-size: 1.5rem;
        }

        .card-body h5{
            font-size: .7rem;
        }
        
        .card-body .negotiation {
            font-size: 1.2rem;
        }

        .section-title {
            font-size: 1.8rem;
        }

        .card .btn{
            padding: 5px;
            font-size: 1rem;
            
        }

        .services .card {
            min-height: 150px;
        }
    }
</style>
