@{
    ViewData["Title"] = "Фотосесия за абитуриенти | Фотосесия за абитуриенти в Пловдив | Фотограф за абитуриентски бал в Пловдив и страната";
}

<!-- Page Header Start -->
<div class="container-fluid page-header-prom py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Фотосесия за абитуриенти</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Фотосесия за абитуриенти</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Business Photography Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/img/abiturienti-fotosesii-plovdiv-4.jpg" alt="about3" style="max-height:650px">
                    <img class="img-fluid" src="~/img/abiturienti-forosesii-plovdiv-2.jpg" alt="about3" style="max-height:650px">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title">Фотосесия за абитуриенти</h2>
                <!--<h1 class="display-5 mb-4">Целта ни е </h1>-->
                <div class="row mt-5 g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-user-graduate text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Фотосесия за абитуриенти</h3>
                                <p class="mb-3">Абитуриентската вечер е един от най-вълнуващите моменти в живота на всеки ученик. Това е вечерта, в която празнувате края на едно важно приключение и началото на следващата голяма стъпка. Ще се погрижим да създадем красиви и стилни снимки, които ще Ви напомнят за него.</p>
                                <p class="mb-0">Във ФОТОНИК предлагаме фотосесии за абитуриенти в град Пловдив, както и да цялата страна. Ще получите красиви кадри, заснети с професионално отношение на предварително уговорена локация.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <h1><i class="fa-solid fa-photo-film text-primary"></i></h1>
                            <div class="ms-4">
                                <h3>Заснемане на подготовка за бал</h3>
                                <p class="mb-0">Грим, прическа, забързана динамика и вълнение за предстоящият бал - ще заснемев всичко това, неподправено, с цялата му емоция.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-prom-prices packet mt-5 pt-5">
    <div class="packet mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title"><span class="text-dark">Пакети</span> Абитуриентски бал</h1>
                <hr />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Стандартен</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.PromPhotoshoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.PromPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Prom" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Плюс</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.PromPlusPhotoshoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.PromPlusPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.PromPlus" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Екстра</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="service-price">@DefaultValue.PromExtraPhotoshoot лв</h1>
                        <hr />
                        <h5>@DefaultValue.PromExtraPhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.PromExtra" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card card-packet">
                    <div class="card-header text-center">
                        <h3>Друго</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="negotiation">@DefaultValue.NegotiablePriceText</h1>
                        <hr />
                        <h5>@DefaultValue.NegotiablePhotoshootDescription</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Photoshoot" asp-action="ReserveByType" asp-route-photoshootType="@PhotoShootType.Other" class="btn btn-primary">РЕЗЕРВИРАЙ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-wedding-portfolio mt-5 pt-5">
    <div class="portfolio-item row">
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Prom/fotosesii-abiturienti-asenovgrad-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Prom/fotosesii-abiturienti-asenovgrad-1.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Prom/fotosesii-abiturienti-asenovgrad-2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Prom/fotosesii-abiturienti-asenovgrad-2.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Prom/fotosesii-abiturienti-asenovgrad-3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Prom/fotosesii-abiturienti-asenovgrad-3.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Prom/fotosesii-abiturienti-plovdiv-1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Prom/fotosesii-abiturienti-plovdiv-1.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Prom/fotosesii-abiturienti-plovdiv-2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Prom/fotosesii-abiturienti-plovdiv-2.jpg" alt="gallery-item">
            </a>
        </div>
        <div class="item col-md-4 col-6 text-center mt-5">
            <a href="~/img/SamplePhotos/Prom/fotosesii-abiturienti-plovdiv-3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                <img class="img-fluid" src="~/img/SamplePhotos/Prom/fotosesii-abiturienti-plovdiv-3.jpg" alt="gallery-item">
            </a>
        </div>
    </div>
</div>
<!-- Feature Prom Photography End -->

<style>
    .card-packet {
        min-height: 400px;
    }
</style>