@model IEnumerable<Place>

@{
    ViewData["Title"] = "Популярни места";
}

<section class="breadcrumb_area mt-5">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Популярни места</h2>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                <li class="active">Популярни места</li>
            </ol>
        </div>
    </div>
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Описание</th>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <th>IsPopular</th>
                            }
                        }
                        <th>Град</th>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <th>Actions</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach(Place place in Model)
                    {
                        <tr class="clickable" id="@place.Id">
                            <td>@place.Name</td>
                            <td>@(place.Description ?? "N/A")</td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <td>@(place.IsPopular ? "Popular" : "User")</td>
                                }
                            }
                            <td>@(place?.City?.Name ?? "N/A")</td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <td>
                                        <a asp-action="Update" asp-controller="Place" asp-route-id="@place.Id" class="btn btn-primary btn-sm">Update</a>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    tr:hover {
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function(){
        let scheme = "@Context.Request.Scheme";
        let host = "@Context.Request.Host";
        let path = "/Place/PlaceById"
        let id = 0;

        $("tr").mouseover(function () {
            id = this.id;
        });

        $(".clickable").click(function (){
            window.location = scheme + "://" + host + path + '/' + id;
        });
    });
</script>