@model AllDynamicContentsDTO

@{
    ViewData["Title"] = "Блог";
}



<!-- Team Start -->
<div class="container-xxl px-0 pb-5">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <p class="text-primary text-uppercase mb-2">Актуално</p>
        <h1 class="display-6 mb-0">Последните новини и публикации</h1>
    </div>
    <div class="row g-0">

        @foreach (DynamicContent dynamicContent in Model?.DynamicContents ?? new List<DynamicContent>())
        {
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 flex-sm-row">
                    <div class="col-sm-6">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="~/resources/images/@(dynamicContent.ImageName)" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="h-100 p-5 d-flex flex-column justify-content-between">
                            <div class="mb-3">
                                <a asp-action="Content" asp-controller="DynamicContent" asp-route-id="@dynamicContent?.Id"><h4>@(dynamicContent.Title ?? "")</h4></a>
                                <span>@(dynamicContent?.DynamicContentCategories?.Name ?? "") | @(dynamicContent?.CreatedOn.ToString("dd.MM.yyyy") ?? "") г.</span>
                            </div>
                            <p>@(dynamicContent?.Description ?? "")</p>
                            <div class="d-flex">
                                <a asp-action="AllByCategory" asp-controller="DynamicContent" asp-route-id="@dynamicContent?.DynamicContentCategories?.Id" class="me-2"><i class="fa-solid fa-layer-group"></i> @dynamicContent?.DynamicContentCategories?.Name</a>
                                <p class="me-2"><i class="fa-solid fa-clock"></i> @(dynamicContent?.ReadingTime == 0 ? "< 1 мин" : dynamicContent?.ReadingTime + "мин")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                @for (int i = 1; i <= Model?.PagesCount; i++)
                {
                    <li class="page-item active" id="page-item-@i"><a asp-action="AllByPage" asp-controller="DynamicContent" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
            </ul>
        </nav>

    </div>
</div>
<!-- Team End -->

<script>
    $(document).ready(function () {
        highlitActivePage();
    });

    function highlitActivePage() {
        let activePage = @(Html.Raw(ViewData["pageNumber"]))
        
        //remove all pages active class
        $(".page-item").removeClass("active");

        //add active class to the current page only
        $("#page-item-" + activePage).addClass("active");
    }
</script>
